publisher "mitre"
name "affiliation"
version "0.2.0"
license "Apache-2.0"

entrypoint {
  on arch="aarch64-apple-darwin" "./target/release/affiliation"
  on arch="x86_64-apple-darwin" "./target/release/affiliation"
  on arch="x86_64-unknown-linux-gnu" "./target/release/affiliation"
  on arch="x86_64-pc-windows-msvc" "./target/release/affiliation.exe"
}

dependencies {
  plugin "mitre/git" version="0.3.0" manifest="./plugins/git/local-release-plugin.kdl"
}
