publisher "mitre"
name "affiliation"
version "0.1.0"
license "Apache-2.0"
entrypoint {
  on arch="aarch64-apple-darwin" "./target/debug/affiliation"
  on arch="x86_64-apple-darwin" "./target/debug/affiliation"
  on arch="x86_64-unknown-linux-gnu" "./target/debug/affiliation"
  on arch="x86_64-pc-windows-msvc" "./target/debug/affiliation.exe"
}

dependencies {
  plugin "mitre/git" version="0.1.0" manifest="./plugins/git/plugin.kdl"
}
