publisher "mitre"
name "activity"
version "0.5.0"
license "Apache-2.0"

entrypoint {
  on arch="aarch64-apple-darwin" "activity"
  on arch="x86_64-apple-darwin" "activity"
  on arch="x86_64-unknown-linux-gnu" "activity"
  on arch="x86_64-pc-windows-msvc" "activity.exe"
}

dependencies {
  plugin "mitre/git" version="^0.5" manifest="https://hipcheck.mitre.org/dl/plugin/mitre/git.kdl"
}
