[package]
name = "xtask"
description = "Hipcheck development task runner."
version = "0.1.0"
license = "Apache-2.0"
edition = "2021"
publish = false

[dependencies]
hc_common = { path = "../libs/hc_common" }
hc_pathbuf = { path = "../libs/hc_pathbuf" }
clap = { version = "4.5.4", default-features = false, features = ["cargo", "std"] }
glob = "0.3.0"
serde = { version = "1.0.133", features = ["derive"] }
toml = "0.8.12"
which = "6.0.1"
duct = "0.13.5"
open = "5.1.2"
