[package]
name = "xtask"
description = "Hipcheck development task runner."
version = "0.1.0"
license = "Apache-2.0"
edition = "2021"
publish = false

[dependencies]
anyhow = "1.0.89"
clap = { version = "4.5.18", features = ["cargo", "derive"] }
clap-verbosity-flag = "2.2.1"
env_logger = "0.11.5"
log = "0.4.22"
glob = "0.3.0"
pathbuf = "1.0.0"
serde = { version = "1.0.210", features = ["derive"] }
toml = "0.8.19"
xshell = "0.2.6"
which = "6.0.3"
convert_case = "0.6.0"
