publisher "mitre"
name "review"
version "0.1.0"
license "Apache-2.0"
entrypoint {
  on arch="aarch64-apple-darwin" "./target/debug/review_sdk"
  on arch="x86_64-apple-darwin" "./target/debug/review_sdk"
  on arch="x86_64-unknown-linux-gnu" "./target/debug/review_sdk"
  on arch="x86_64-pc-windows-msvc" "./target/debug/review_sdk"
}

dependencies {
  plugin "mitre/github" version="0.1.0" manifest="./plugins/github/plugin.kdl"
}
