publisher "mitre"
name "review"
version "0.3.0"
license "Apache-2.0"

entrypoint {
  on arch="aarch64-apple-darwin" "review"
  on arch="x86_64-apple-darwin" "review"
  on arch="x86_64-unknown-linux-gnu" "review"
  on arch="x86_64-pc-windows-msvc" "review.exe"
}

dependencies {
  plugin "mitre/github" version="^0.3" manifest="https://hipcheck.mitre.org/dl/plugin/mitre/github.kdl"
}
