NV_APP_IMAGE=nv-app:local
NV_SERVER_IMAGE=nv-server:local
POSTGRES_DB=nv
POSTGRES_USER=nv-server
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
NV_SERVER_DATABASE_URL_SECRET_FILE=.secrets/nv-server-database-url
HEALTH_DIAGNOSTICS_TOKEN_SECRET_FILE=.secrets/health-diagnostics-token
POSTGRES_PASSWORD_SECRET_FILE=.secrets/postgres-password
API_BASE_URL=





