publisher "mitre"
name "churn"
version "0.0.0"
license "Apache-2.0"

entrypoint {
  on arch="aarch64-apple-darwin" "./target/debug/churn"
  on arch="x86_64-apple-darwin" "./target/debug/churn"
  on arch="x86_64-unknown-linux-gnu" "./target/debug/churn"
  on arch="x86_64-pc-windows-msvc" "./target/debug/churn.exe"
}

dependencies {
  plugin "mitre/git" version="0.0.0" manifest="./plugins/git/local-plugin.kdl"
  plugin "mitre/linguist" version="0.0.0" manifest="./plugins/linguist/local-plugin.kdl"
}
