strategy "independent" {
    country "United States"
    org "MITRE"
}
orgs {
    org "HP" country="United States" {
        host "hp.com"
        host "hpe.com"
    }
    org "MITRE" country="United States" {
        host "mitre.org"
    }
    org "RBC Royal Bank" country="Canada" {
        host "rbcon.com"
    }
}
