
<div class="max-w-7xl mx-auto mt-24" id="footer">
    <div class="pb-16 px-4 lg:px-0">
        <div class="grid grid-cols-2 lg:grid-cols-8 gap-x-4 lg:gap-8 dark:text-neutral-400 mb-10">

            <div class="col-span-2 lg:col-span-2 text-lg lg:my-0">
                <a href="{{ get_url(path="@/_index.md") }}" class="hover:text-green-600 font-semibold">
                    Hipcheck <span class="leading-none font-extrabold text-green-600 text-2xl">✓</span>
                </a>
                <p class="text-sm text-neutral-500 mt-3 leading-6">
                    Helping maintainers assess software packages for long term risk.
                </p>
            </div>

            {% for list in config.extra.footer %}
                <div class="col-span-1 lg:col-span-2 text-sm">
                    <ul>
                        {% for item in list %}
                            <li>
                                {% if item.title %}
                                    <span class="font-semibold mb-4 mt-8 block">{{ item.name }}</span>
                                {% else %}
                                    {% if item.url is starting_with("http") %}
                                        {% set url = item.url %}
                                    {% else %}
                                        {% set url = get_url(path=item.url) %}
                                    {% endif %}

                                    <a href="{{ url }}" class="group block mb-[6px]">
                                        <span class="inlne-flex items-stretch -my-1 -mx-2 rounded-md py-1 px-2 group-hover:bg-blue-50 group-hover:text-blue-500">
                                            {{ item.name }}
                                            {% if item.external %}
                                                <span class="text-xs text-neutral-500 group-hover:text-blue-500">↗</span>
                                            {% endif %}
                                        </span>
                                    </a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
        <div class="lg:grid lg:grid-cols-8 lg:gap-8">
            <div class="lg:col-span-6 lg:col-start-3">
                <p class="ml-auto text-xs text-neutral-400">Website served by GitHub Pages (<a class="underline hover:text-neutral-500" href="https://docs.github.com/en/site-policy/privacy-policies/github-general-privacy-statement">Privacy Policy</a>).</p>
            </div>
        </div>
    </div>
</div>
