
{% import "macros/icon.tera.html" as ic %}
<nav id="top" class="bg-white dark:bg-neutral-800 text-sm px-6 py-4 z-10 relative">
    <ul class="flex justify-between lg:justify-start gap-x-8">
        <li class="block lg:flex lg:flex-1 items-stretch">
            <a href="{{ get_url(path="@/_index.md") }}" class="
                    items-stretch content-center
                    text-black dark:text-neutral-200 hover:text-green-600
                    text-xl
                    font-black
                    ">
                Hipcheck&nbsp;<span class="leading-none font-extrabold text-green-600 text-2xl">✓</span>
            </a>

            {% if config.extra.announce %}
                <a href="{{ config.extra.announce.url }}" class="
                        hidden
                        lg:inline-flex
                        items-center
                        self-center
                        rounded-full
                        font-medium
                        bg-[#f4f9f5] hover:bg-green-500 dark:bg-neutral-700 dark:hover:bg-blue-800
                        text-green-600 hover:text-white dark:text-neutral-200 dark:hover:text-blue-100
                        ml-8
                        px-4
                        py-1
                        leading-6
                        text-sm
                        ">
                    {{ ic::icon(name="tag", classes="mr-2") }}&nbsp;{{ config.extra.announce.text }}
                </a>
            {% endif %}
        </li>

        <li class="
                flex
                lg:hidden
                items-stretch
                ">
            {% set name = "menu" %}
            <a href="#footer">{{ ic::icon(name=name, classes="mt-1 mr-2") }}</a>
        </li>

        <li class="hidden lg:flex">
            <button id="search-button" class="
                inline-flex
                justify-between
                items-center
                gap-2

                cursor-pointer
                group

                text-xs

                rounded-full

                hover:bg-blue-50 dark:hover:bg-neutral-700
                hover:outline hover:outline-1 hover:outline-blue-500
                border

                border-neutral-200 hover:border-blue-500 dark:border-neutral-700
                whitespace-nowrap

                h-9
                min-h-6
                min-w-44

                px-[0.6rem]
                ">
                    <span class="inline-flex items-center gap-2">
                        {{ ic::icon(name="search", classes="group-hover:fill-blue-600 dark:fill-neutral-300") }}
                        <span class="text-neutral-400 group-hover:text-blue-600 font-light text-sm leading-none -mb-[1px]">Search</span>
                    </span>
                    <span class="-mr-1 p-1 px-2 rounded-full bg-neutral-100 dark:bg-neutral-700 inline-flex items-center gap-0 text-neutral-600 dark:text-neutral-400 group-hover:bg-blue-100 group-hover:text-blue-600">{{ ic::icon(name="command", classes="text-xs !w-3 !h-3 mr-[2px]") }}K</span>
            </button>
        </li>

        {% for item in config.extra.nav %}
            <li class="hidden lg:flex items-center">
                {% if item.url is starting_with("http") %}
                    {% set url = item.url %}
                {% else %}
                    {% set url = get_url(path=item.url) %}
                {% endif %}

                <a href="{{ url }}" {% if item.id %}id="{{ item.id }}"{% endif %} class="
                        inline-flex
                        items-center
                        gap-1
                        flex-nowrap
                        text-black dark:text-neutral-200 hover:text-blue-500
                        py-1.5
                        font-normal
                        {% if item.highlight %}
                            !font-medium
                            px-4
                            bg-blue-600 hover:bg-green-500 hover:from-green-100
                            text-white hover:text-white
                            rounded-full
                        {% else %}
                            p-0
                        {% endif %}
                        ">
                    {% if item.icon %}
                        {% set name = item.icon %}
                        <div class="{% if name == 'bluesky' %}*:!fill-neutral-500{% endif %}">
                            {{ ic::icon(name=name, classes="ml-[-4px] mr-0") }}
                        </div>
                    {% endif %}
                    {% if not item.icononly %}
                        {{ item.name }}{% if item.external %}&nbsp;↗{% endif %}
                    {% endif %}
                </a>
            </li>
        {% endfor %}

        <li class="hidden lg:flex text-lg items-center -ml-3">
            <div id="theme-selector" class="flex justify-stretch items-stretch bg-neutral-100 dark:bg-neutral-900 p-[2px] rounded-full w-9 hover:w-[6.25rem] transition-[width] ease-linear duration-75 delay-300 hover:delay-0 overflow-x-clip overflow-y-visible">
                <a data-theme="light" class="
                    theme-option
                    data-[active]:bg-[radial-gradient(circle,_rgba(147,197,253,0.75)_0%,_rgba(147,197,253,0)_50%,_rgba(147,197,253,0)_100%)]
                    dark:data-[active]:bg-[radial-gradient(circle,_rgba(147,197,253,0.25)_0%,_rgba(147,197,253,0)_50%,_rgba(147,197,253,0)_100%)]
                    data-[active]:text-blue-600
                    py-[2px] px-2
                    rounded-full
                    text-neutral-400
                    hover:bg-blue-100
                    dark:hover:bg-blue-500/25
                    hover:text-blue-500
                    " href="#">
                    {{ ic::icon(name="sun", classes="mt-[-2px]") }}
                </a>
                <a data-theme="system" class="
                    theme-option
                    data-[active]:bg-[radial-gradient(circle,_rgba(147,197,253,0.75)_0%,_rgba(147,197,253,0)_50%,_rgba(147,197,253,0)_100%)]
                    dark:data-[active]:bg-[radial-gradient(circle,_rgba(147,197,253,0.25)_0%,_rgba(147,197,253,0)_50%,_rgba(147,197,253,0)_100%)]
                    data-[active]:text-blue-600
                    py-[2px] px-2
                    rounded-full
                    text-neutral-400
                    hover:bg-blue-100
                    dark:hover:bg-blue-500/25
                    hover:text-blue-500
                    " href="#">
                    {{ ic::icon(name="zap", classes="mt-[-2px]") }}
                </a>
                <a data-theme="dark" class="
                    theme-option
                    data-[active]:bg-[radial-gradient(circle,_rgba(147,197,253,0.75)_0%,_rgba(147,197,253,0)_50%,_rgba(147,197,253,0)_100%)]
                    dark:data-[active]:bg-[radial-gradient(circle,_rgba(147,197,253,0.25)_0%,_rgba(147,197,253,0)_50%,_rgba(147,197,253,0)_100%)]
                    data-[active]:text-blue-600
                    py-[2px] px-2
                    rounded-full
                    text-neutral-400
                    hover:bg-blue-100
                    dark:hover:bg-blue-500/25
                    hover:text-blue-500
                    " href="#">
                    {{ ic::icon(name="moon", classes="mt-[-2px]") }}
                </a>
            </div>
        </li>
    </ul>
</nav>
