prose dark:prose-invert

prose-code:before:content-none
prose-code:after:content-none
prose-code:font-normal
prose-code:py-1 prose-code:px-2
prose-code:rounded-md
prose-code:bg-neutral-100
dark:prose-code:bg-neutral-700
[&_pre_code]:bg-inherit
[&_pre_code]:p-0
[&_pre_code]:rounded-none
[&_.info_code]:bg-neutral-200
dark:[&_.info_code]:bg-neutral-700

prose-a:font-normal
hover:prose-a:text-blue-500

prose-h3:font-medium
prose-h3:pt-4
prose-h3:border-t
prose-h3:border-neutral-300
dark:prose-h3:border-neutral-600
prose-h3:mt-16
prose-h3:mb-8
prose-h3:text-2xl

prose-h2:font-medium
prose-h2:text-3xl
prose-h2:mt-12
prose-h2:pt-8
prose-h2:mb-8
prose-h2:text-black
dark:prose-h2:text-neutral-100

prose-h1:font-medium
prose-h1:text-4xl
