plugins {
    plugin "mitre/activity" version="^0.5" manifest="https://hipcheck.mitre.org/dl/plugin/mitre/activity.kdl"
    plugin "mitre/affiliation" version="^0.5" manifest="https://hipcheck.mitre.org/dl/plugin/mitre/affiliation.kdl"
    plugin "mitre/binary" version="^0.4" manifest="https://hipcheck.mitre.org/dl/plugin/mitre/binary.kdl"
    plugin "mitre/churn" version="^0.5" manifest="https://hipcheck.mitre.org/dl/plugin/mitre/churn.kdl"
    plugin "mitre/entropy" version="^0.5" manifest="https://hipcheck.mitre.org/dl/plugin/mitre/entropy.kdl"
    plugin "mitre/fuzz" version="^0.3" manifest="https://hipcheck.mitre.org/dl/plugin/mitre/fuzz.kdl"
    plugin "mitre/review" version="^0.4" manifest="https://hipcheck.mitre.org/dl/plugin/mitre/review.kdl"
    plugin "mitre/typo" version="^0.4" manifest="https://hipcheck.mitre.org/dl/plugin/mitre/typo.kdl"
}

patch {
	plugin "mitre/github" {
		api-token-var "HC_GITHUB_TOKEN"
	}
	plugin "mitre/linguist" {
        langs-file #rel("Langs.kdl")
    }
}

analyze {
    investigate policy="(gt 0.5 $)"
    investigate-if-fail "mitre/typo" "mitre/binary"

    category "practices" {
        analysis "mitre/activity" policy="(lte $ P52w)" weight=3
        analysis "mitre/binary" {
			binary-file #rel("Binary.kdl")
			binary-file-threshold 0
		}
        analysis "mitre/fuzz" policy="(eq #t $)"
        analysis "mitre/review" policy="(lte (divz (count (filter (eq #f) $)) (count $)) 0.05)"
    }

    category "attacks" {
        analysis "mitre/typo" {
            typo-file #rel("Typos.kdl")
            count-threshold 0
        }

        category "commit" {
            analysis "mitre/affiliation" {
                orgs-file #rel("Orgs.kdl")
                count-threshold 0
            }

            analysis "mitre/entropy" policy="(eq 0 (count (filter (gt 8.0) $)))" {
				entropy-threshold 10.0
				commit-percentage 0.0
	 		}
            analysis "mitre/churn" policy="(lte (divz (count (filter (gt 3) $)) (count $)) 0.02)"
        }
    }
}
