publisher "mitre"
name "typo"
version "0.1.0"
license "Apache-2.0"

entrypoint {
  on arch="aarch64-apple-darwin" "./target/release/typo"
  on arch="x86_64-apple-darwin" "./target/release/typo"
  on arch="x86_64-unknown-linux-gnu" "./target/release/typo"
  on arch="x86_64-pc-windows-msvc" "./target/release/typo.exe"
}

dependencies {
  plugin "mitre/npm" version="0.1.0" manifest="./plugins/npm/local-release-plugin.kdl"
}
