publisher "mitre"
name "typo"
version "0.4.2"
license "Apache-2.0"

entrypoint {
  on arch="aarch64-apple-darwin" "typo"
  on arch="x86_64-apple-darwin" "typo"
  on arch="x86_64-unknown-linux-gnu" "typo"
  on arch="x86_64-pc-windows-msvc" "typo.exe"
}

dependencies {
  plugin "mitre/npm" version="^0.4" manifest="https://hipcheck.mitre.org/dl/plugin/mitre/npm.kdl"
}
