@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "IBM Plex Mono";
    src: url("/fonts/plex/IBMPlexMono-Text.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("/fonts/plex/IBMPlexMono-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

.icon {
    @apply inline-block;
    @apply w-4;
    @apply h-4;
    @apply stroke-0;
    @apply stroke-current;
    @apply fill-current;
}
