[package]
name = "hipcheck"
description = "Automatically assess and score software repositories for supply chain risk"
version = "3.2.0"
edition = "2021"
license = "Apache-2.0"
repository = "https://github.com/mitre/hipcheck"
include = ["src/**/*", "LICENSE.md", "README.md"]

[[bin]]
name = "hc"
path = "src/main.rs"

[dependencies]

content_inspector = "0.2.4"
dotenv = "0.15.0"
chrono = { version = "0.4.19", features = ["serde"] }
clap = { version = "4.5.4", default-features = false, features = [
    "string",
    "std",
] }
curl = "0.4.38"
dirs = "5.0.1"
duct = "0.13.5"
env_logger = { version = "0.11.3" }
glob = "0.3.0"
graphql_client = "0.14.0"
lazy_static = "1.4.0"
log = "0.4.16"
libc = "0.2.154"
maplit = "1.0.2"
native-tls = "0.2.11"
nom = "7.1.3"
once_cell = "1.10.0"
ordered-float = { version = "4.2.0", features = ["serde"] }
paste = "1.0.7"
pathbuf = "1.0.0"
petgraph = { version = "0.6.0", features = ["serde-1"] }
regex = "1.5.5"
salsa = "0.16.1"
schemars = { version = "0.8.17", default-features = false, features = [
    "derive",
    "preserve_order",
    "chrono",
] }
semver = "1.0.9"
serde = { version = "1.0.200", features = ["derive", "rc"] }
serde_derive = "1.0.137"
serde_json = "1.0.80"
smart-default = "0.7.1"
spdx-rs = "0.5.0"
termcolor = "1.1.3"
toml = "0.8.12"
unicode-normalization = "0.1.19"
unicode-segmentation = "1.9.0"
ureq = { version = "2.9.7", default-features = false, features = [
    "json",
    "native-tls",
] }
url = "2.2.2"
walkdir = "2.5.0"
which = { version = "6.0.1", default-features = false }
xml-rs = "0.8.20"

[target.'cfg(windows)'.dependencies.winapi]
version = "0.3.9"
features = ["handleapi", "processenv", "winbase", "wincon", "winnt"]

[build-dependencies]
anyhow = "1.0.83"
which = { version = "6.0.1", default-features = false }

[dev-dependencies]
dirs = "5.0.1"
tempfile = "3.10.1"
duct = "0.13.7"
criterion = "0.5.1"

[package.metadata.dist]

# Make sure that `cargo-dist` can find this binary.
dist = true
