[package]
name = "hipcheck"
version = "3.1.0"
edition = "2021"
license = "Apache-2.0"
include = ["src/**/*", "LICENSE.md", "README.md"]
publish = false

[[bin]]
name = "hc"
path = "src/main.rs"

[dependencies]

# Internal dependencies.
hc_common = { path = "../libs/hc_common" }

# External dependencies.
clap = { version = "4.5.4", default-features = false, features = [
    "string",
    "std",
] }
env_logger = { version = "0.11.3" }
