[package]
name = "hipcheck"
description = "Automatically assess and score software repositories for supply chain risk"
keywords = ["security", "sbom"]
categories = ["command-line-utilities", "development-tools"]
readme = "../README.md"
version = "3.2.1"
edition = "2021"
license = "Apache-2.0"
repository = "https://github.com/mitre/hipcheck"
include = ["src/**/*", "../LICENSE", "../README.md"]

[[bin]]
name = "hc"
path = "src/main.rs"

[dependencies]

content_inspector = "0.2.4"
dotenv = "0.15.0"
chrono = { version = "0.4.19", features = ["serde"] }
clap = { version = "4.5.4", default-features = false, features = [
    "string",
    "std",
] }
dirs = "5.0.1"
duct = "0.13.5"
env_logger = { version = "0.11.3" }
graphql_client = "0.14.0"
lazy_static = "1.4.0"
libc = "0.2.155"
log = "0.4.16"
maplit = "1.0.2"
nom = "7.1.3"
once_cell = "1.10.0"
ordered-float = { version = "4.2.0", features = ["serde"] }
paste = "1.0.7"
pathbuf = "1.0.0"
petgraph = { version = "0.6.0", features = ["serde-1"] }
regex = "1.5.5"
rustls = "0.23.7"
salsa = "0.16.1"
schemars = { version = "0.8.20", default-features = false, features = [
    "derive",
    "preserve_order",
    "chrono",
] }
semver = "1.0.9"
serde = { version = "1.0.202", features = ["derive", "rc"] }
serde_derive = "1.0.137"
serde_json = "1.0.80"
smart-default = "0.7.1"
spdx-rs = "0.5.0"
termcolor = "1.1.3"
toml = "0.8.13"
unicode-normalization = "0.1.19"
unicode-segmentation = "1.9.0"
ureq = { version = "2.9.7", default-features = false, features = [
    "json",
    "tls",
] }
url = "2.2.2"
walkdir = "2.5.0"
which = { version = "6.0.1", default-features = false }
xml-rs = "0.8.20"

# Windows-specific dependencies
[target.'cfg(windows)'.dependencies]
winapi = { version = "0.3.9", features = [
    "handleapi",
    "processenv",
    "winbase",
    "wincon",
    "winnt",
] }

[build-dependencies]
anyhow = "1.0.86"
which = { version = "6.0.1", default-features = false }

[dev-dependencies]
dirs = "5.0.1"
tempfile = "3.10.1"

[package.metadata.dist]

# Make sure that `cargo-dist` can find this binary.
dist = true
