
plugin version="0.1.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/activity-v0.1.0/activity-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="5089ef5d6e7307adc1793cbfc8dde8f53d407d8a9c6e77dcad0703c4d2431f2f"
    compress format="tar.xz"
    size bytes=1096284
}

plugin version="0.1.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/activity-v0.1.0/activity-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="0138af7120977be6a0f44309345a9a79a0d4d1ba3cd77dd02635450ac0ab1a11"
    compress format="tar.xz"
    size bytes=1185456
}

plugin version="0.1.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/activity-v0.1.0/activity-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="791c1051179966f59f9c1e14ccd21fedfa58458a83bda7d570acfcca7a647761"
    compress format="zip"
    size bytes=3989179
}

plugin version="0.1.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/activity-v0.1.0/activity-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="83db1e17115fc5b8c71a06ca79ffa10cf972288001bc11ec5252ac301897f091"
    compress format="tar.xz"
    size bytes=1275520
}

plugin version="0.2.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/activity-v0.2.0/activity-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="ed9016cb0039a61f87b2740885e161caa9647f81608317b36f1ba8a182473922"
    compress format="tar.xz"
    size bytes=1096796
}

plugin version="0.2.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/activity-v0.2.0/activity-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="9badc6a265288875cedd2771b225c19af1a1eac449cd63420b20d25bc82361ec"
    compress format="tar.xz"
    size bytes=1187944
}

plugin version="0.2.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/activity-v0.2.0/activity-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="a75311bb69bc56f9b03569afaa7858369cc2bf5be57c13ef1bbf7a1d2a7c0937"
    compress format="zip"
    size bytes=3990203
}

plugin version="0.2.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/activity-v0.2.0/activity-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="873fb88ab32064b987d82a132eaf619686b8d858f093b5e381798fa80a03f7b9"
    compress format="tar.xz"
    size bytes=1275548
}

plugin version="0.3.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/activity-v0.3.0/activity-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="ec1088d3f69dc1fe8a54bb30a77e0ccbe1199430dae066e0814571d5b915f38d"
    compress format="tar.xz"
    size bytes=1115204
}

plugin version="0.3.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/activity-v0.3.0/activity-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="322e08ded6494cf21ac19b1fbd445aadbc6c599b504fe40e8bdc5d127ac1e141"
    compress format="tar.xz"
    size bytes=1208332
}

plugin version="0.3.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/activity-v0.3.0/activity-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="9b4e941f92993065df2f41b21cd2d3e6c65fa434e425e012b2f506e367632f94"
    compress format="zip"
    size bytes=4000443
}

plugin version="0.3.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/activity-v0.3.0/activity-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="43fc1445391fbf323dc6dd5c0675f95e3d7def0974336d955a3aa4ba64362591"
    compress format="tar.xz"
    size bytes=1289344
}

plugin version="0.4.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/activity-v0.4.0/activity-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="71b1c4d8cd90d1f90fde07ee6bddad93781d9b032f7a2e3b6d165eab78af33ff"
    compress format="tar.xz"
    size bytes=1069452
}

plugin version="0.4.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/activity-v0.4.0/activity-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="9b4e0b9a32798be3ebbfdd01e8c9be6b83c4d4b8655547180433c4f27281e998"
    compress format="tar.xz"
    size bytes=1157900
}

plugin version="0.4.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/activity-v0.4.0/activity-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="b14ed928439fca31add472be58e0fef9d1aef74c0981c1bf7e7ab1be45892dc0"
    compress format="zip"
    size bytes=3794198
}

plugin version="0.4.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/activity-v0.4.0/activity-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="314ffe12cf654c75e364832e637f6af032be99d1fbe7aad288459379cdeb66f4"
    compress format="tar.xz"
    size bytes=1229832
}

plugin version="0.4.1" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/activity-v0.4.1/activity-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="c64ef7d814ae76a65923ae1f7977e451ddf8ea47e6505d4ad2451220940ef356"
    compress format="tar.xz"
    size bytes=1065396
}

plugin version="0.4.1" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/activity-v0.4.1/activity-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="bfb82b2cf43e2bd1a9f1e2f47c57d0f7c73b639c342b85ef011a67a99a7d36aa"
    compress format="tar.xz"
    size bytes=1155716
}

plugin version="0.4.1" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/activity-v0.4.1/activity-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="c921b08f51b6fe19b2b93163839c348daf9de66cb1848afd11e11c34361536a1"
    compress format="zip"
    size bytes=3795221
}

plugin version="0.4.1" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/activity-v0.4.1/activity-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="b40312893959a1142a83323fb9f71d45b454218623d9e907f4a8f8340ebbc4eb"
    compress format="tar.xz"
    size bytes=1228168
}
