
plugin version="0.1.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/affiliation-v0.1.0/affiliation-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="31672ec1e7cbde637c9c1a7a890d40fefb44d2e47205fb21d8ab812092bf3208"
    compress format="tar.xz"
    size bytes=1143068
}

plugin version="0.1.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/affiliation-v0.1.0/affiliation-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="1303425c8cde0236f7f80da3bb227f01d222e38f0c0da1329563243401d045e7"
    compress format="tar.xz"
    size bytes=1242800
}

plugin version="0.1.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/affiliation-v0.1.0/affiliation-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="d6745e07807c7bb195f822be4a3416a2ed2b2080cb9f9379c7fc7743a652ed19"
    compress format="zip"
    size bytes=4139728
}

plugin version="0.1.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/affiliation-v0.1.0/affiliation-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="f2ec3958e00e7f877b4efde246f8596e502b1f2240914e22b28e58840f3fdf3b"
    compress format="tar.xz"
    size bytes=1332908
}

plugin version="0.2.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/affiliation-v0.2.0/affiliation-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="08514b205d32362c82c1ff6b23e39a39e8648636ac585a5296e001f5ac0b581b"
    compress format="tar.xz"
    size bytes=1143236
}

plugin version="0.2.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/affiliation-v0.2.0/affiliation-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="bd9335c28d506a194ff13a3ec9c4ddaa37e9b63bb824431fdb27a6b16dd802b9"
    compress format="tar.xz"
    size bytes=1244172
}

plugin version="0.2.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/affiliation-v0.2.0/affiliation-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="cd6d6d11ffb071b4ed8a954e78ad35beba0ad7a84397073b7f330042e3bd54fd"
    compress format="zip"
    size bytes=4140752
}

plugin version="0.2.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/affiliation-v0.2.0/affiliation-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="53db82a536a27425cab8f6de3b35b1ad7c937f44a582171f4d310bf37b7d266e"
    compress format="tar.xz"
    size bytes=1333288
}

plugin version="0.3.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/affiliation-v0.3.0/affiliation-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="d9b7f7e011bf06026c18f55912c1ea83dcaf2b4ebfbdf2c9e0164b133df5e993"
    compress format="tar.xz"
    size bytes=1156872
}

plugin version="0.3.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/affiliation-v0.3.0/affiliation-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="85882389b3cff006344af30903f71b74b65006fa3a15d51abda12c7e02d2c901"
    compress format="tar.xz"
    size bytes=1256044
}

plugin version="0.3.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/affiliation-v0.3.0/affiliation-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="f06a5149255f9f9512c22f6cf213f0196f9191dd0b1c756c52748e8ce2b31d24"
    compress format="zip"
    size bytes=4104400
}

plugin version="0.3.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/affiliation-v0.3.0/affiliation-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="763c94c9ee2674f195f54f1f2c11bb6adfa1aca87b2b2bc8d3a720fda08c331b"
    compress format="tar.xz"
    size bytes=1338212
}
