
plugin version="0.1.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/affiliation-v0.1.0/affiliation-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="31672ec1e7cbde637c9c1a7a890d40fefb44d2e47205fb21d8ab812092bf3208"
    compress format="tar.xz"
    size bytes=1143068
}

plugin version="0.1.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/affiliation-v0.1.0/affiliation-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="1303425c8cde0236f7f80da3bb227f01d222e38f0c0da1329563243401d045e7"
    compress format="tar.xz"
    size bytes=1242800
}

plugin version="0.1.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/affiliation-v0.1.0/affiliation-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="d6745e07807c7bb195f822be4a3416a2ed2b2080cb9f9379c7fc7743a652ed19"
    compress format="zip"
    size bytes=4139728
}

plugin version="0.1.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/affiliation-v0.1.0/affiliation-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="f2ec3958e00e7f877b4efde246f8596e502b1f2240914e22b28e58840f3fdf3b"
    compress format="tar.xz"
    size bytes=1332908
}

plugin version="0.2.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/affiliation-v0.2.0/affiliation-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="08514b205d32362c82c1ff6b23e39a39e8648636ac585a5296e001f5ac0b581b"
    compress format="tar.xz"
    size bytes=1143236
}

plugin version="0.2.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/affiliation-v0.2.0/affiliation-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="bd9335c28d506a194ff13a3ec9c4ddaa37e9b63bb824431fdb27a6b16dd802b9"
    compress format="tar.xz"
    size bytes=1244172
}

plugin version="0.2.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/affiliation-v0.2.0/affiliation-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="cd6d6d11ffb071b4ed8a954e78ad35beba0ad7a84397073b7f330042e3bd54fd"
    compress format="zip"
    size bytes=4140752
}

plugin version="0.2.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/affiliation-v0.2.0/affiliation-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="53db82a536a27425cab8f6de3b35b1ad7c937f44a582171f4d310bf37b7d266e"
    compress format="tar.xz"
    size bytes=1333288
}

plugin version="0.3.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/affiliation-v0.3.0/affiliation-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="d9b7f7e011bf06026c18f55912c1ea83dcaf2b4ebfbdf2c9e0164b133df5e993"
    compress format="tar.xz"
    size bytes=1156872
}

plugin version="0.3.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/affiliation-v0.3.0/affiliation-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="85882389b3cff006344af30903f71b74b65006fa3a15d51abda12c7e02d2c901"
    compress format="tar.xz"
    size bytes=1256044
}

plugin version="0.3.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/affiliation-v0.3.0/affiliation-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="f06a5149255f9f9512c22f6cf213f0196f9191dd0b1c756c52748e8ce2b31d24"
    compress format="zip"
    size bytes=4104400
}

plugin version="0.3.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/affiliation-v0.3.0/affiliation-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="763c94c9ee2674f195f54f1f2c11bb6adfa1aca87b2b2bc8d3a720fda08c331b"
    compress format="tar.xz"
    size bytes=1338212
}

plugin version="0.4.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/affiliation-v0.4.0/affiliation-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="761dd7b51a7468708a955d662c7ed7070298f9455dd42753ce62851687e3c6d9"
    compress format="tar.xz"
    size bytes=1263504
}

plugin version="0.4.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/affiliation-v0.4.0/affiliation-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="a614e3a57e75d20d2e5d69e80f68f355d4663a00827e484de0f3079db221863d"
    compress format="tar.xz"
    size bytes=1375392
}

plugin version="0.4.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/affiliation-v0.4.0/affiliation-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="18e1bead5ad4470a740ed63182e469d2a855ac19079887b63f45ca07d038eb2e"
    compress format="zip"
    size bytes=4507435
}

plugin version="0.4.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/affiliation-v0.4.0/affiliation-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="8a5c6e6954a443983227fc9bdaf73d6e64d4d6267b79b8acb2df46a17f771799"
    compress format="tar.xz"
    size bytes=1457388
}

plugin version="0.4.1" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/affiliation-v0.4.1/affiliation-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="1330bebf276f32f47b9b29a3da144b700171cdf97b98e40b73c121aed5831272"
    compress format="tar.xz"
    size bytes=1257912
}

plugin version="0.4.1" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/affiliation-v0.4.1/affiliation-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="1f2da10fd644369ebe0a249566083a69f82140c877b912f43efcfac1a85ca732"
    compress format="tar.xz"
    size bytes=1375060
}

plugin version="0.4.1" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/affiliation-v0.4.1/affiliation-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="973b97f6603cbe7f21825868ef01da7bd473f995fe0700674ccce4b3e2f21b3e"
    compress format="zip"
    size bytes=4519722
}

plugin version="0.4.1" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/affiliation-v0.4.1/affiliation-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="6c104a49b0f3664221c768b77c242d839e2f34d9b583a679dbedb2d0c6cdf53d"
    compress format="tar.xz"
    size bytes=1455168
}

plugin version="0.5.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/affiliation-v0.5.0/affiliation-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="4aeee01cbc1a011a17b6a7d2cc1e934c7766ba666c4ff4aa23662fdec968ce48"
    compress format="tar.xz"
    size bytes=1886704
}

plugin version="0.5.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/affiliation-v0.5.0/affiliation-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="85c7b249bd2aefe7146cc5e304afe7cea176602127230979400989efe4027b75"
    compress format="tar.xz"
    size bytes=2087028
}

plugin version="0.5.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/affiliation-v0.5.0/affiliation-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="428c7b7bffa125dee9fb00f74253dba851ec9cc353281bd3aee813c5ddeed7e2"
    compress format="zip"
    size bytes=7523626
}

plugin version="0.5.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/affiliation-v0.5.0/affiliation-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="14d2d600ad827065dae94d2f66e4268eda86debebc578ee593d706e54ae60ef5"
    compress format="tar.xz"
    size bytes=2254940
}

plugin version="0.5.1" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/affiliation-v0.5.1/affiliation-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="6c344ef0968f1f7db1d5385ad0db4506a79003ddde2f28a75316116a17a70ee2"
    compress format="tar.xz"
    size bytes=1897760
}

plugin version="0.5.1" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/affiliation-v0.5.1/affiliation-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="e376c356929d335abd42c7d09359fd34e6974f6ef38cc60c4d9e93415a2c8c24"
    compress format="tar.xz"
    size bytes=2096052
}

plugin version="0.5.1" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/affiliation-v0.5.1/affiliation-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="d78feffe3ecd7fcdb7225c618825086d81539b02283a08636e4d29e0ae82b97c"
    compress format="zip"
    size bytes=7538986
}

plugin version="0.5.1" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/affiliation-v0.5.1/affiliation-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="ece0ccd06c960665a53098d348255bf30a9a7c5b3032720f7460724f443f1c2a"
    compress format="tar.xz"
    size bytes=2262088
}
