
plugin version="0.1.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/binary-v0.1.0/binary-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="66ece652f44ff47ad8f5ab45d4de1cde9f35fdc15c7c43b89aebb7203d277e8e"
    compress format="tar.xz"
    size bytes=1183768
}

plugin version="0.1.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/binary-v0.1.0/binary-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="b3c7e463c701988bdb568bf520f71ef7e6fa21b5c5bc68449a53a42e59b575ab"
    compress format="tar.xz"
    size bytes=1289520
}

plugin version="0.1.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/binary-v0.1.0/binary-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="aea41cd5b91c79432baf0b00b5f85fef33ecaefcc2dfe24028b5d7dbf6e0365c"
    compress format="zip"
    size bytes=4322356
}

plugin version="0.1.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/binary-v0.1.0/binary-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="dfe3f12d5c4b8c9397f69aad40db27978f5777dd16440380e8f35c6ddf65f485"
    compress format="tar.xz"
    size bytes=1382112
}

plugin version="0.2.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/binary-v0.2.0/binary-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="c4285a08a829a18b68e5c678dff00333e1150c00a94c7326eba3970a4519b733"
    compress format="tar.xz"
    size bytes=1156136
}

plugin version="0.2.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/binary-v0.2.0/binary-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="0689448a70e0c01ac62428113760eeb717756ef2b74079c4092996ed2e5d9832"
    compress format="tar.xz"
    size bytes=1256796
}

plugin version="0.2.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/binary-v0.2.0/binary-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="896ae92d03e6452fa25bcec8c54027431d533d41aaf7c0ef954cca0534fae14b"
    compress format="zip"
    size bytes=4103220
}

plugin version="0.2.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/binary-v0.2.0/binary-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="f3d74b2d66923413c69826a733e268509e00015044bb4c93a3dbcfbf281ff365"
    compress format="tar.xz"
    size bytes=1339456
}

plugin version="0.3.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/binary-v0.3.0/binary-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="62d41d1dfd304982024a307cfe62d99ad8e46254f017aaa705564d59ccf1a5fc"
    compress format="tar.xz"
    size bytes=1262152
}

plugin version="0.3.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/binary-v0.3.0/binary-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="a07ce06a64f8f9fc4efd5281a763f3487416e764f637ecc742c4e5c8614035b1"
    compress format="tar.xz"
    size bytes=1375552
}

plugin version="0.3.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/binary-v0.3.0/binary-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="7db16c7c3d601c73f1d18be11b31dc16b9bdbbf26e097ccfdd88763d2439365e"
    compress format="zip"
    size bytes=4496527
}

plugin version="0.3.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/binary-v0.3.0/binary-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="99d62d9c853cd5d068bc87af9a1c345d8c7fd3304d6c91e1fca314e75cbfd247"
    compress format="tar.xz"
    size bytes=1456548
}
