
plugin version="0.1.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/binary-v0.1.0/binary-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="66ece652f44ff47ad8f5ab45d4de1cde9f35fdc15c7c43b89aebb7203d277e8e"
    compress format="tar.xz"
    size bytes=1183768
}

plugin version="0.1.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/binary-v0.1.0/binary-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="b3c7e463c701988bdb568bf520f71ef7e6fa21b5c5bc68449a53a42e59b575ab"
    compress format="tar.xz"
    size bytes=1289520
}

plugin version="0.1.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/binary-v0.1.0/binary-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="aea41cd5b91c79432baf0b00b5f85fef33ecaefcc2dfe24028b5d7dbf6e0365c"
    compress format="zip"
    size bytes=4322356
}

plugin version="0.1.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/binary-v0.1.0/binary-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="dfe3f12d5c4b8c9397f69aad40db27978f5777dd16440380e8f35c6ddf65f485"
    compress format="tar.xz"
    size bytes=1382112
}

plugin version="0.2.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/binary-v0.2.0/binary-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="c4285a08a829a18b68e5c678dff00333e1150c00a94c7326eba3970a4519b733"
    compress format="tar.xz"
    size bytes=1156136
}

plugin version="0.2.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/binary-v0.2.0/binary-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="0689448a70e0c01ac62428113760eeb717756ef2b74079c4092996ed2e5d9832"
    compress format="tar.xz"
    size bytes=1256796
}

plugin version="0.2.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/binary-v0.2.0/binary-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="896ae92d03e6452fa25bcec8c54027431d533d41aaf7c0ef954cca0534fae14b"
    compress format="zip"
    size bytes=4103220
}

plugin version="0.2.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/binary-v0.2.0/binary-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="f3d74b2d66923413c69826a733e268509e00015044bb4c93a3dbcfbf281ff365"
    compress format="tar.xz"
    size bytes=1339456
}

plugin version="0.3.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/binary-v0.3.0/binary-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="62d41d1dfd304982024a307cfe62d99ad8e46254f017aaa705564d59ccf1a5fc"
    compress format="tar.xz"
    size bytes=1262152
}

plugin version="0.3.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/binary-v0.3.0/binary-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="a07ce06a64f8f9fc4efd5281a763f3487416e764f637ecc742c4e5c8614035b1"
    compress format="tar.xz"
    size bytes=1375552
}

plugin version="0.3.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/binary-v0.3.0/binary-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="7db16c7c3d601c73f1d18be11b31dc16b9bdbbf26e097ccfdd88763d2439365e"
    compress format="zip"
    size bytes=4496527
}

plugin version="0.3.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/binary-v0.3.0/binary-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="99d62d9c853cd5d068bc87af9a1c345d8c7fd3304d6c91e1fca314e75cbfd247"
    compress format="tar.xz"
    size bytes=1456548
}

plugin version="0.3.1" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/binary-v0.3.1/binary-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="913202f4386f67f77202b312bb2e741765a29a0eead5c84a781387656aac28d3"
    compress format="tar.xz"
    size bytes=1256276
}

plugin version="0.3.1" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/binary-v0.3.1/binary-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="18dee635489a39dd59b1356d56fee33f76b0ded248acfce3b4ec174c7a5cb1d3"
    compress format="tar.xz"
    size bytes=1373152
}

plugin version="0.3.1" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/binary-v0.3.1/binary-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="c48856ffa98d30429850ebacf2764fe5e8996da6f7576b755cab8ebbada91756"
    compress format="zip"
    size bytes=4512911
}

plugin version="0.3.1" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/binary-v0.3.1/binary-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="ae8761fc7b477e582eec09481071ab0bba507ad14381e48938917821d30531f0"
    compress format="tar.xz"
    size bytes=1454080
}

plugin version="0.3.2" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/binary-v0.3.2/binary-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="49eb2bc3c056e11063bf39c805dd3de3715e4a954dee641737007ce42249553c"
    compress format="tar.xz"
    size bytes=1316240
}

plugin version="0.3.2" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/binary-v0.3.2/binary-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="c4984bf790ea877d8c2cbc34c4f067e7077601c2a42d257c5b6d46b5afb6f378"
    compress format="tar.xz"
    size bytes=1433340
}

plugin version="0.3.2" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/binary-v0.3.2/binary-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="06d1d95a7274aa2dc50e5a3865c88ed2e320bd4f2e65d8ea907a9819f0961a20"
    compress format="zip"
    size bytes=4775567
}

plugin version="0.3.2" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/binary-v0.3.2/binary-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="1f449d64fa53261646ee25698f614d31c9a1d1f53c7d529e5ad3b4d739b2ee5f"
    compress format="tar.xz"
    size bytes=1525968
}

plugin version="0.4.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/binary-v0.4.0/binary-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="038e331277a926f741bc0998ee019bff10c2ba8950585f36a035ca8241719934"
    compress format="tar.xz"
    size bytes=1883668
}

plugin version="0.4.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/binary-v0.4.0/binary-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="1338fe4340185f18400bd8debd9ffefba4dc106e6b8b570491c2d9d6546df887"
    compress format="tar.xz"
    size bytes=2084436
}

plugin version="0.4.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/binary-v0.4.0/binary-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="9b56ffa53311031f5a879ae6fdb3f93178f6ff926f2054d4abea467d14664ff6"
    compress format="zip"
    size bytes=7516815
}

plugin version="0.4.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/binary-v0.4.0/binary-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="f658a56fd4da3461f91b0cf2da99f9f735224555389180ca1128ffbd585cdd98"
    compress format="tar.xz"
    size bytes=2250744
}

plugin version="0.4.1" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/binary-v0.4.1/binary-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="9104289987d6542177d7deced6507d82e78668c318aeeb888c4185fa0e007c16"
    compress format="tar.xz"
    size bytes=1890044
}

plugin version="0.4.1" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/binary-v0.4.1/binary-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="c38a19389350f41eef2ac8e0f07fbfcc79013fd2da7115a60365f58b647215fd"
    compress format="tar.xz"
    size bytes=2088944
}

plugin version="0.4.1" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/binary-v0.4.1/binary-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="0eb73ed0387f0bee43f17882f84722f2c0880eb5db7f7589406220a888590d00"
    compress format="zip"
    size bytes=7529615
}

plugin version="0.4.1" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/binary-v0.4.1/binary-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="4baa4550362404a54277d7c45b01645d86192a1a4038f4b406dd4030568da0db"
    compress format="tar.xz"
    size bytes=2259532
}
