
plugin version="0.1.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/churn-v0.1.0/churn-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="37ade41aadb25db06d49ddd3e87839cf81f454334239b08195c8a03041a62714"
    compress format="tar.xz"
    size bytes=1240268
}

plugin version="0.1.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/churn-v0.1.0/churn-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="8cc59a50f877e7d28c60a4c4914acc4a09a7b0fee49509fb2abf4842bb2f4060"
    compress format="tar.xz"
    size bytes=1347532
}

plugin version="0.1.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/churn-v0.1.0/churn-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="dfae4f6ab9a5632274c65ab89e63d44bd35a459f22f875e5844aefd58df45351"
    compress format="zip"
    size bytes=4578470
}

plugin version="0.1.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/churn-v0.1.0/churn-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="2b45370f46212f8b6186618291b02e14b91b0df30051b5b21eb3ae09acd0fee3"
    compress format="tar.xz"
    size bytes=1443640
}

plugin version="0.2.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/churn-v0.2.0/churn-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="1c298d9189cccf497ff101fed9695a9bd5303a38a96d74bc649d22f0b11fed72"
    compress format="tar.xz"
    size bytes=1238864
}

plugin version="0.2.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/churn-v0.2.0/churn-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="83c93edd5e2bfe1618c728da5f6586fd09f5cd52a8cde61f6c0ae7712e90fb64"
    compress format="tar.xz"
    size bytes=1350592
}

plugin version="0.2.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/churn-v0.2.0/churn-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="530674ebf74c0d30096dec77e7bd490dfc479ffca4530d17bbd41b12a7c4b77a"
    compress format="zip"
    size bytes=4579494
}

plugin version="0.2.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/churn-v0.2.0/churn-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="f8c5db8293720bcb04c30ed0cfb1532bbbf8798c62144e92e664cfbdbb57b37a"
    compress format="tar.xz"
    size bytes=1444328
}

plugin version="0.3.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/churn-v0.3.0/churn-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="91322de16d0d3f32658ab5d218632a1dbc16a969a52b9c76e756df2efb4ac6a2"
    compress format="tar.xz"
    size bytes=1214608
}

plugin version="0.3.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/churn-v0.3.0/churn-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="c0c05b6f62d4463b65b84aa6b1036f9b9bf01992d928228e0737e0aaa6e36e14"
    compress format="tar.xz"
    size bytes=1318340
}

plugin version="0.3.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/churn-v0.3.0/churn-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="b271865da7531caeec42531310b617019876bb91ae28363b5e259ff9ce8c3463"
    compress format="zip"
    size bytes=4347046
}

plugin version="0.3.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/churn-v0.3.0/churn-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="6c7a93fc0083f2a4759e50146bcae356057106a2a09b91a801fe26c75a7263b0"
    compress format="tar.xz"
    size bytes=1402944
}

plugin version="0.4.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/churn-v0.4.0/churn-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="b903942ba7f2ce650e1228b8859f093f5baf94237ae38e423788ccca5a73bc58"
    compress format="tar.xz"
    size bytes=1070472
}

plugin version="0.4.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/churn-v0.4.0/churn-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="6d9c448d6186ec952a57b77562c4ddecb8adf9b26db88293509f633a46a8c3f5"
    compress format="tar.xz"
    size bytes=1160552
}

plugin version="0.4.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/churn-v0.4.0/churn-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="0c4d1873b87e623aa4b32de8cef39889fb8e035cbfe3a55fd5045b487f6e866d"
    compress format="zip"
    size bytes=3851119
}

plugin version="0.4.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/churn-v0.4.0/churn-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="e3d56803ff2e9e58be2d7323934d0af3f26a60365616544024b81ef6c38fb0ba"
    compress format="tar.xz"
    size bytes=1236868
}

plugin version="0.4.1" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/churn-v0.4.1/churn-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="acaedba392a0877e956a9d063f6b9020f60f5808e7b9daa794f9c079d7ef4d00"
    compress format="tar.xz"
    size bytes=1066732
}

plugin version="0.4.1" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/churn-v0.4.1/churn-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="5c5a76b414cbe9dcf85b70935e52c9bd219b877786c6677d27bbedd94263174e"
    compress format="tar.xz"
    size bytes=1160680
}

plugin version="0.4.1" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/churn-v0.4.1/churn-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="90037a324d93754e2fc905bac0fac736a570521027c3ec8e29df2cf293642269"
    compress format="zip"
    size bytes=3852141
}

plugin version="0.4.1" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/churn-v0.4.1/churn-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="035baa3954da5ddfaf8e8e4bdc0e90754d081c0f58294be83dd7752869ce0320"
    compress format="tar.xz"
    size bytes=1235332
}

plugin version="0.5.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/churn-v0.5.0/churn-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="0fcac2fe4f16bf81dc660326c30595326e3f618f6e7900bea5de3ab5d7da9637"
    compress format="tar.xz"
    size bytes=1716132
}

plugin version="0.5.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/churn-v0.5.0/churn-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="79504941d2cde5be347cdb3e134984efcc9af2c232a0246d3bdba2098c01eeb1"
    compress format="tar.xz"
    size bytes=1895468
}

plugin version="0.5.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/churn-v0.5.0/churn-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="2faf1bd98bd6e6e17b8a2c7a1d0b829bb3e01f0f8a9422bcdc38635c7b69cfc7"
    compress format="zip"
    size bytes=6881133
}

plugin version="0.5.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/churn-v0.5.0/churn-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="0944b99d9f6c6d3a2c81f3cfce29c3dc5eecedf50f1f83d9defbcf32a2515d07"
    compress format="tar.xz"
    size bytes=2055824
}

plugin version="0.5.1" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/churn-v0.5.1/churn-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="80f609c839f3dac1a1ef967f81c91e212a6cc1f08f6ba0d3ef4030edd2fb96a8"
    compress format="tar.xz"
    size bytes=1726496
}

plugin version="0.5.1" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/churn-v0.5.1/churn-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="3eafa8fe7a5e3ef1449b85996582ff82230647efd84353ecc8160a6a8a7d5562"
    compress format="tar.xz"
    size bytes=1904344
}

plugin version="0.5.1" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/churn-v0.5.1/churn-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="ea479094896a422b66c43288020df1b50c0e8b6356ca0a528787a965d312e84c"
    compress format="zip"
    size bytes=6909805
}

plugin version="0.5.1" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/churn-v0.5.1/churn-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="040264ddf1f5f71b5b800b2615861034509cc70fd305d37c251a4d0a6b35b17f"
    compress format="tar.xz"
    size bytes=2060864
}
