
plugin version="0.1.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/entropy-v0.1.0/entropy-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="a68265eabb994f65aa01ead6747421000f47051960dd10a195f01a1741c84687"
    compress format="tar.xz"
    size bytes=1332104
}

plugin version="0.1.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/entropy-v0.1.0/entropy-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="81a5962e3819b82d2999f1a5a575894aab451cc69485b65cba581c28f5b305ff"
    compress format="tar.xz"
    size bytes=1446056
}

plugin version="0.1.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/entropy-v0.1.0/entropy-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="794c72b0793de206d2d99c59d3bfbf079ab13d39a59b012ae50535d57e119586"
    compress format="zip"
    size bytes=4889780
}

plugin version="0.1.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/entropy-v0.1.0/entropy-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="fb23a8df4904e188e130ecba17ca1d8f9795ee3d788ccee103b11d45d8590dac"
    compress format="tar.xz"
    size bytes=1543064
}

plugin version="0.2.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/entropy-v0.2.0/entropy-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="9c1214fa9580971e4fff4276a573b63af2cb75f4d39df07ff9fefbfe19d4eb09"
    compress format="tar.xz"
    size bytes=1331220
}

plugin version="0.2.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/entropy-v0.2.0/entropy-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="aced137122c96adb199fd84b4cfb40af3361c4da7792a8ae62e5641375364334"
    compress format="tar.xz"
    size bytes=1447600
}

plugin version="0.2.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/entropy-v0.2.0/entropy-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="6d8a279443ed4c0aa506cc70be3ccdb2a5d47a845934ddd00db3f804676701eb"
    compress format="zip"
    size bytes=4892852
}

plugin version="0.2.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/entropy-v0.2.0/entropy-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="d36c1af66942d2756aba162cd30c0523123fa635149f50530e6c95f330913677"
    compress format="tar.xz"
    size bytes=1544012
}

plugin version="0.3.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/entropy-v0.3.0/entropy-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="4ade074a5b892875ce98fb203fd00480800e8d2a884ad8f81c534938f7fa163b"
    compress format="tar.xz"
    size bytes=1305684
}

plugin version="0.3.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/entropy-v0.3.0/entropy-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="9d51642b763c49c947f9e290d04be8664dacd379f0650409d8c5342430aca23e"
    compress format="tar.xz"
    size bytes=1413428
}

plugin version="0.3.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/entropy-v0.3.0/entropy-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="7409b895aaee828bfc948f941d387099daabec802059f1f2ba94d43571e969e7"
    compress format="zip"
    size bytes=4654772
}

plugin version="0.3.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/entropy-v0.3.0/entropy-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="e7538bb35f99ce42808106d6863937013ba1c263fa4f7a51d8112cd84a755912"
    compress format="tar.xz"
    size bytes=1498784
}
