
plugin version="0.1.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/entropy-v0.1.0/entropy-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="a68265eabb994f65aa01ead6747421000f47051960dd10a195f01a1741c84687"
    compress format="tar.xz"
    size bytes=1332104
}

plugin version="0.1.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/entropy-v0.1.0/entropy-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="81a5962e3819b82d2999f1a5a575894aab451cc69485b65cba581c28f5b305ff"
    compress format="tar.xz"
    size bytes=1446056
}

plugin version="0.1.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/entropy-v0.1.0/entropy-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="794c72b0793de206d2d99c59d3bfbf079ab13d39a59b012ae50535d57e119586"
    compress format="zip"
    size bytes=4889780
}

plugin version="0.1.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/entropy-v0.1.0/entropy-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="fb23a8df4904e188e130ecba17ca1d8f9795ee3d788ccee103b11d45d8590dac"
    compress format="tar.xz"
    size bytes=1543064
}

plugin version="0.2.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/entropy-v0.2.0/entropy-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="9c1214fa9580971e4fff4276a573b63af2cb75f4d39df07ff9fefbfe19d4eb09"
    compress format="tar.xz"
    size bytes=1331220
}

plugin version="0.2.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/entropy-v0.2.0/entropy-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="aced137122c96adb199fd84b4cfb40af3361c4da7792a8ae62e5641375364334"
    compress format="tar.xz"
    size bytes=1447600
}

plugin version="0.2.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/entropy-v0.2.0/entropy-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="6d8a279443ed4c0aa506cc70be3ccdb2a5d47a845934ddd00db3f804676701eb"
    compress format="zip"
    size bytes=4892852
}

plugin version="0.2.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/entropy-v0.2.0/entropy-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="d36c1af66942d2756aba162cd30c0523123fa635149f50530e6c95f330913677"
    compress format="tar.xz"
    size bytes=1544012
}

plugin version="0.3.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/entropy-v0.3.0/entropy-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="4ade074a5b892875ce98fb203fd00480800e8d2a884ad8f81c534938f7fa163b"
    compress format="tar.xz"
    size bytes=1305684
}

plugin version="0.3.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/entropy-v0.3.0/entropy-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="9d51642b763c49c947f9e290d04be8664dacd379f0650409d8c5342430aca23e"
    compress format="tar.xz"
    size bytes=1413428
}

plugin version="0.3.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/entropy-v0.3.0/entropy-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="7409b895aaee828bfc948f941d387099daabec802059f1f2ba94d43571e969e7"
    compress format="zip"
    size bytes=4654772
}

plugin version="0.3.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/entropy-v0.3.0/entropy-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="e7538bb35f99ce42808106d6863937013ba1c263fa4f7a51d8112cd84a755912"
    compress format="tar.xz"
    size bytes=1498784
}

plugin version="0.4.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/entropy-v0.4.0/entropy-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="478dc26f5df95124743ca221fea96f7125a594116555b08ed016f4806341dde0"
    compress format="tar.xz"
    size bytes=1167444
}

plugin version="0.4.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/entropy-v0.4.0/entropy-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="78c94cec2665046a6069615e712930ad7a0bbcef291a7275471eaf8e7c1630f1"
    compress format="tar.xz"
    size bytes=1263080
}

plugin version="0.4.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/entropy-v0.4.0/entropy-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="9a1e6b29b6c16ab46eed82ab3a9a81c4ffcfdbcf0e812b2640c6f00f623ce45d"
    compress format="zip"
    size bytes=4178301
}

plugin version="0.4.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/entropy-v0.4.0/entropy-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="70a7b2a12fa13f9312f95125e44ccd5454865ad4f70e1a0b62c3cf9028b03e29"
    compress format="tar.xz"
    size bytes=1345672
}

plugin version="0.4.1" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/entropy-v0.4.1/entropy-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="c4ecdb7dfd94775a7a7bb596c27248ee9eeccdcaba5862b74437e3e441be182a"
    compress format="tar.xz"
    size bytes=1162776
}

plugin version="0.4.1" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/entropy-v0.4.1/entropy-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="9e7d938bf7d8f26cdb1d7349520eefe06b9c35c9230ac1cc143e2a00e2481b5a"
    compress format="tar.xz"
    size bytes=1261572
}

plugin version="0.4.1" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/entropy-v0.4.1/entropy-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="be7aad45226cd10fa5fd89a50119aaa99791732d4caedebf5b5518ca3f6bf430"
    compress format="zip"
    size bytes=4176251
}

plugin version="0.4.1" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/entropy-v0.4.1/entropy-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="95a15ec6dbdf991634c32e2797dd60ea10e5e67c04be185bee92b08eeb6fef7d"
    compress format="tar.xz"
    size bytes=1343260
}

plugin version="0.5.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/entropy-v0.5.0/entropy-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="0061ede88476091be2d8a77275e480959a42711eadb6469ab7502da4f15a5a5c"
    compress format="tar.xz"
    size bytes=1802380
}

plugin version="0.5.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/entropy-v0.5.0/entropy-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="766b2c2eba56f0d9fc644b7f7bc1a6793b2cbbb6706023995d81caf0fed6de91"
    compress format="tar.xz"
    size bytes=1989892
}

plugin version="0.5.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/entropy-v0.5.0/entropy-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="e4577815dd37834b0715565bb5c8fd0ace0806393c48f8e06fa699769df77415"
    compress format="zip"
    size bytes=7189371
}

plugin version="0.5.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/entropy-v0.5.0/entropy-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="226f2df209f648b2a11b846c7c747805180c4efbe5fc7a0947d317353da4ada8"
    compress format="tar.xz"
    size bytes=2149708
}

plugin version="0.5.1" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/entropy-v0.5.1/entropy-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="71a022f6882c92525184a4e57daa18e267419227007b0f1b76d40f166decc85e"
    compress format="tar.xz"
    size bytes=1815940
}

plugin version="0.5.1" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/entropy-v0.5.1/entropy-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="eb2d4811174d31d73841b1c364aaa8f7ee95e7fb2c7d29eb8a1748fa690303e3"
    compress format="tar.xz"
    size bytes=1999120
}

plugin version="0.5.1" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/entropy-v0.5.1/entropy-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="159935b3c12fe36c323d2c78fbf9fdf367a9802b3ea2b786a545c90ee7cd0c3f"
    compress format="zip"
    size bytes=7219067
}

plugin version="0.5.1" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/entropy-v0.5.1/entropy-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="ea0cf5204765d022e3370d3ffd26b04d95c2fa1625c73bcaf3fd612ddd399a6e"
    compress format="tar.xz"
    size bytes=2156748
}

plugin version="0.5.2" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/entropy-v0.5.2/entropy-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="06d7e6937884444e965cdfbabfa243cce3afaf58271976c57aa66aa0ac2e6bbc"
    compress format="tar.xz"
    size bytes=1816732
}

plugin version="0.5.2" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/entropy-v0.5.2/entropy-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="ad640bc4d70ea15b4b9b20fadf0669a6a7272ae002951431359e265dc6c232b4"
    compress format="tar.xz"
    size bytes=1999372
}

plugin version="0.5.2" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/entropy-v0.5.2/entropy-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="7b92e596662129ffa802b5498ead3bb61c716c3dc6399e61c4e8d0d255879110"
    compress format="zip"
    size bytes=7226235
}

plugin version="0.5.2" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/entropy-v0.5.2/entropy-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="56c42eec8d24d71ed82e9ddbe92cd4d63e75cfe00e0abc9c5b06f08a1449dcd1"
    compress format="tar.xz"
    size bytes=2160712
}
