
plugin version="0.1.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/fuzz-v0.1.0/fuzz-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="774811c01d0c351c2c1b8e60b6b1f89773d4ab73cbb4b83c229357bf6778fa17"
    compress format="tar.xz"
    size bytes=1066152
}

plugin version="0.1.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/fuzz-v0.1.0/fuzz-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="429314ada27f2f0230f9eb7f0109481dea211218bda1eaa1e9282413836923cb"
    compress format="tar.xz"
    size bytes=1157248
}

plugin version="0.1.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/fuzz-v0.1.0/fuzz-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="e9b6b8e7066fc860610b2408cd3180e114108d7c8d8ee3e87e5b1a320dbe7822"
    compress format="zip"
    size bytes=3883154
}

plugin version="0.1.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/fuzz-v0.1.0/fuzz-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="769a55b18246d273eae538ba19f9cbeaba3c787358c5017aa5b65ce376d596c9"
    compress format="tar.xz"
    size bytes=1243404
}

plugin version="0.1.1" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/fuzz-v0.1.1/fuzz-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="de84c4161212a8930c00a05c78673bac3514c0a2357a70475616e73ed6747cd6"
    compress format="tar.xz"
    size bytes=1067600
}

plugin version="0.1.1" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/fuzz-v0.1.1/fuzz-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="5f788de2351d385e1d8fbb1eba3042997f1ca30111bb060888a6b44e2429b6b3"
    compress format="tar.xz"
    size bytes=1157660
}

plugin version="0.1.1" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/fuzz-v0.1.1/fuzz-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="1d1511a320b84567cbb49354e60a7f445d87956baed331a1ebef7dc08eac2414"
    compress format="zip"
    size bytes=3883173
}

plugin version="0.1.1" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/fuzz-v0.1.1/fuzz-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="cffdda1499eedda20b374df71790acfd29ca2da02106efdf06999cca29611c89"
    compress format="tar.xz"
    size bytes=1243712
}

plugin version="0.2.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/fuzz-v0.2.0/fuzz-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="50725e7f778d04e8a7dad1c0e083b44151e8fd1d75c0bd87f04b36c21cc448ea"
    compress format="tar.xz"
    size bytes=1087100
}

plugin version="0.2.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/fuzz-v0.2.0/fuzz-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="cdf9f937999fd7735e7af586863bc23340b4efa245f76b62770274a460f5ead0"
    compress format="tar.xz"
    size bytes=1180504
}

plugin version="0.2.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/fuzz-v0.2.0/fuzz-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="c9c379ee27ea91ac632afe2afa049c1d3a0b66e68c540d2c6896b0fe7f02daa6"
    compress format="zip"
    size bytes=3893413
}

plugin version="0.2.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/fuzz-v0.2.0/fuzz-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="49fb02c96c4f01bb0bc7b11275f6c78ee294def800966ff960ec5242c8ee3744"
    compress format="tar.xz"
    size bytes=1258512
}

plugin version="0.2.1" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/fuzz-v0.2.1/fuzz-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="2591a3e007552399de91c502d6e2b985acf50f9352266f844d666d6a579f2c82"
    compress format="tar.xz"
    size bytes=1040064
}

plugin version="0.2.1" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/fuzz-v0.2.1/fuzz-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="8deeac4afd3a1103b3729dc21718fcabd3c3f50adb68c3c8fb1195c3261983e9"
    compress format="tar.xz"
    size bytes=1128124
}

plugin version="0.2.1" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/fuzz-v0.2.1/fuzz-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="e70f9baeb434e7adcba4a50dae5151ace36a5801772a0f254286acd112cbe7e4"
    compress format="zip"
    size bytes=3686144
}

plugin version="0.2.1" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/fuzz-v0.2.1/fuzz-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="3a0a01aa64e6978cd88f9e9f6fd3c82b2511a7d3dcd19fdd291726b847157012"
    compress format="tar.xz"
    size bytes=1199056
}

plugin version="0.2.2" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/fuzz-v0.2.2/fuzz-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="6597c3a8ae3feab4ab001f23d2472cd32fd2a7e9808e05d150f5ceb8015dba25"
    compress format="tar.xz"
    size bytes=1035748
}

plugin version="0.2.2" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/fuzz-v0.2.2/fuzz-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="c6cdfc94f73239902f21cb6be88698ea68bf82eea39c539331a6dcf0bbb378bf"
    compress format="tar.xz"
    size bytes=1125976
}

plugin version="0.2.2" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/fuzz-v0.2.2/fuzz-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="cc12c51ae1bb3f9a36d33ac33346da094238cfd43894412ff9a79de587aad8ce"
    compress format="zip"
    size bytes=3689215
}

plugin version="0.2.2" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/fuzz-v0.2.2/fuzz-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="0f8da5582de4e9416767738bf2f1decf5685168ed80dc05f8c6718f74433366c"
    compress format="tar.xz"
    size bytes=1196444
}

plugin version="0.3.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/fuzz-v0.3.0/fuzz-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="bccf2319a40c5ce81aa34f9b7d5786c7494ede721415d6ae4850120d36afc38f"
    compress format="tar.xz"
    size bytes=1681360
}

plugin version="0.3.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/fuzz-v0.3.0/fuzz-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="648652873110cf9d0f2d8a3ce33f07a864c35aaf6fd52312b94b83bc49288fd0"
    compress format="tar.xz"
    size bytes=1858196
}

plugin version="0.3.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/fuzz-v0.3.0/fuzz-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="4c171b271769e7b7f91189907d32d9dced1a43000185170c59361d09ffd4301d"
    compress format="zip"
    size bytes=6715647
}

plugin version="0.3.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/fuzz-v0.3.0/fuzz-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="cc7fec4a70e916e525daf4c91a8f260facab56849050993592b93844ddc78aab"
    compress format="tar.xz"
    size bytes=2014516
}
