
plugin version="0.1.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/git-v0.1.0/git-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="e419092d9caef566ef1903c417f66ecb155917cc50e278e8b2c5de127baf51c7"
    compress format="tar.xz"
    size bytes=1081808
}

plugin version="0.1.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/git-v0.1.0/git-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="e0bc850db7fdd14b3386656d9076b55cc6ba1f9cdab91b764378449f95e9cf6b"
    compress format="tar.xz"
    size bytes=1177464
}

plugin version="0.1.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/git-v0.1.0/git-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="b9ab124af4b22df0b68e57f1e036ac5127d391e1745527bfec86c79f2a9e49b3"
    compress format="zip"
    size bytes=4085279
}

plugin version="0.1.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/git-v0.1.0/git-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="df3660353b36b4fe95544fe2411c6a90283002628409997fe7e9313aa01170d3"
    compress format="tar.xz"
    size bytes=1270216
}

plugin version="0.2.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/git-v0.2.0/git-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="9a57a247461ffdfb41426339ff0037cf6f4435d4f16df9f2ef73255d6bc86d9a"
    compress format="tar.xz"
    size bytes=1926440
}

plugin version="0.2.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/git-v0.2.0/git-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="f59091e591dcda46b6b1c75b1fa1aea86b8cbee62798acd5e57b83a73ee67fb0"
    compress format="tar.xz"
    size bytes=2071192
}

plugin version="0.2.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/git-v0.2.0/git-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="fc292ddfb259b1e679d893f32b2f6bffe4b6e8b5a49fd3e1596c824d91f56a2e"
    compress format="zip"
    size bytes=6939167
}

plugin version="0.2.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/git-v0.2.0/git-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="0f24aa6a01d70df73305be83bde9f7c7414c1e099ed51005aa252bb9aa25039f"
    compress format="tar.xz"
    size bytes=2229756
}

plugin version="0.3.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/git-v0.3.0/git-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="6c3c6a932109054f9bbdbae12d53ac1de9d34e5dd0240c2342c4fb7e77bbac0f"
    compress format="tar.xz"
    size bytes=1961624
}

plugin version="0.3.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/git-v0.3.0/git-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="617fc4b9cf1acae41c4747050295c5cc69a11f8683889fe51aeef713ca3cc821"
    compress format="tar.xz"
    size bytes=2103784
}

plugin version="0.3.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/git-v0.3.0/git-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="ea14396a44d3daeeb825c69ea4be72d830bc848ae0f07afcc096db88b38e6bce"
    compress format="zip"
    size bytes=6897183
}

plugin version="0.3.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/git-v0.3.0/git-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="c3a2aa6fce26cef264d2969c1359a5b1065aae87b389fe106208296fb195e83f"
    compress format="tar.xz"
    size bytes=2244344
}

plugin version="0.4.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/git-v0.4.0/git-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="83d9538e4d4baa5f73a7ccd911ee3f7c181bb1a081489e55141fcbec1d6baddb"
    compress format="tar.xz"
    size bytes=1911704
}

plugin version="0.4.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/git-v0.4.0/git-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="97df4eccf1a99d364fc9a33c7b022b9edaf6a22f4088c630dff093c0f4e20421"
    compress format="tar.xz"
    size bytes=2050200
}

plugin version="0.4.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/git-v0.4.0/git-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="b9294abc45d13c4bf68f9bb7324d5d2b4b9bb4b19f2e141b98cd8f1b5bb5fb27"
    compress format="zip"
    size bytes=6681722
}

plugin version="0.4.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/git-v0.4.0/git-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="928cc9a810ae5a8bbef4fbe074d3a57a121f3bc487eb42fe4469df04703c8fff"
    compress format="tar.xz"
    size bytes=2196284
}

plugin version="0.4.1" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/git-v0.4.1/git-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="4b9139a17b160e8b4a9d6f6b8613979294dd50150c74da01e128a2a221d69d5e"
    compress format="tar.xz"
    size bytes=1899388
}

plugin version="0.4.1" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/git-v0.4.1/git-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="0196800fcd338293493e4cf8302727ff7082f5634a14d8b26ee2073e70a9ce01"
    compress format="tar.xz"
    size bytes=2047588
}

plugin version="0.4.1" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/git-v0.4.1/git-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="6821c61092b17b745df88f2f22ef624a7161fcd79a3ba85da71d5763e8733ccc"
    compress format="zip"
    size bytes=6646906
}

plugin version="0.4.1" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/git-v0.4.1/git-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="bf4ce9eca99a5c6323562f89ad0190a879a4da7619a2078dd310a3fff056516b"
    compress format="tar.xz"
    size bytes=2180220
}

plugin version="0.5.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/git-v0.5.0/git-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="90493dac94b2680fabd0c430dfb2012cb6f6726a877a65d295c009d45b696a3b"
    compress format="tar.xz"
    size bytes=2533480
}

plugin version="0.5.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/git-v0.5.0/git-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="aa7a69593986cd78b48ca65043b352841dc783c1601bc07d46ed633338d459c6"
    compress format="tar.xz"
    size bytes=2767808
}

plugin version="0.5.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/git-v0.5.0/git-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="0b7e9117043966ce69b409887f17caf447dad00085d5519b91bf4c1a173515b6"
    compress format="zip"
    size bytes=9679482
}

plugin version="0.5.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/git-v0.5.0/git-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="1f0ffb1cb8b3fab74118966f29f96175701367b1775b80241f3c3b58086ae87c"
    compress format="tar.xz"
    size bytes=2985488
}
