
plugin version="0.1.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/github-v0.1.0/github-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="c26f375f4c899b316281759193b21c382f97d49d59ca8bffe6225f5f06d723b4"
    compress format="tar.xz"
    size bytes=1734932
}

plugin version="0.1.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/github-v0.1.0/github-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="d3538a11379f6ac00c71b78a31ac87aa15e0613f352603922eb0e6f58ff9f056"
    compress format="tar.xz"
    size bytes=1893876
}

plugin version="0.1.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/github-v0.1.0/github-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="e44d51e608dec66ebbca59a5d53dd13894ed41247771d2d472360b5b8b0e880d"
    compress format="zip"
    size bytes=5822004
}

plugin version="0.1.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/github-v0.1.0/github-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="69380bb7c1548a07e29bb9959b8f774eebfd3b70f3c3b30ee2808904416ddece"
    compress format="tar.xz"
    size bytes=2029200
}

plugin version="0.2.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/github-v0.2.0/github-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="25d922185d296055ee4b69683fb7af5fc105839ea0b783191c91443e773cb194"
    compress format="tar.xz"
    size bytes=1762708
}

plugin version="0.2.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/github-v0.2.0/github-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="c2b8b442d42fca7862948df36db209c15af97efba12caf874b323198cb59d25f"
    compress format="tar.xz"
    size bytes=1923852
}

plugin version="0.2.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/github-v0.2.0/github-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="4fda6c0523911e5cca9c46fb0feac47d81b99c654331c9e5bb816a7652c751ce"
    compress format="zip"
    size bytes=5723700
}

plugin version="0.2.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/github-v0.2.0/github-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="627461d29c7b2e2db2861cdb54f1fddf786d9104db8fbe9d8cbafd8186b41601"
    compress format="tar.xz"
    size bytes=2048416
}

plugin version="0.3.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/github-v0.3.0/github-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="6aedffdc5e7f3fae8af3ec600b9645d7e3468683697abc2631f752956b6702cd"
    compress format="tar.xz"
    size bytes=1716456
}

plugin version="0.3.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/github-v0.3.0/github-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="fe1f1629c77ac13d327ea1cf02ca420dceb8f35e8d1e91119c16013981589c33"
    compress format="tar.xz"
    size bytes=1873696
}

plugin version="0.3.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/github-v0.3.0/github-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="3b0784ed7e34e6cad0f7183ce9b51dd16359e4579460acaf4fd7d0cd0deb76c0"
    compress format="zip"
    size bytes=5519503
}

plugin version="0.3.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/github-v0.3.0/github-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="88f8d6ef91eaba6c20ebe4e3a3fef08ec879a8d0481c226706bffb32f41c187b"
    compress format="tar.xz"
    size bytes=1989812
}

plugin version="0.3.1" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/github-v0.3.1/github-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="96320851f17383544b6ab87665541003b03f234ba9065756dfc5cc0730d5c5e6"
    compress format="tar.xz"
    size bytes=1711460
}

plugin version="0.3.1" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/github-v0.3.1/github-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="1096a9bee8dfb9bc41f5dcff51183ef53d94abec569a8b5d2c188cf87dadaafd"
    compress format="tar.xz"
    size bytes=1875052
}

plugin version="0.3.1" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/github-v0.3.1/github-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="dc6d497797a1f5a77c663ac161369721592466cccd2861e7eece295d178f7921"
    compress format="zip"
    size bytes=5532815
}

plugin version="0.3.1" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/github-v0.3.1/github-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="f4b91156c1b0f04074d42769fa9820f2ac43193ef183f148bff64a2804d7edf4"
    compress format="tar.xz"
    size bytes=1988424
}
