
plugin version="0.1.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/identity-v0.1.0/identity-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="29743e3af0c58d89aae7609463b268548b13d1f0ebc3380be3bb47406206b877"
    compress format="tar.xz"
    size bytes=1083808
}

plugin version="0.1.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/identity-v0.1.0/identity-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="6b6ba8985c8a5c1a322d211c451040d9d2166cb4943284c8321fecfcd8f70190"
    compress format="tar.xz"
    size bytes=1174092
}

plugin version="0.1.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/identity-v0.1.0/identity-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="ceea8f1003efaf712c42987a04a61ce5d0c7c7331b9098fa70f2d16a85effbcb"
    compress format="zip"
    size bytes=3961541
}

plugin version="0.1.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/identity-v0.1.0/identity-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="81087950da4be880f1cf7900f2f105f6a26a7d625365f3e027b475b076dfd820"
    compress format="tar.xz"
    size bytes=1261408
}

plugin version="0.2.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/identity-v0.2.0/identity-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="3b7fe8c9d655eb8293ed6d71928dc8bca7deff9d3bc7a3ca267020c8f4ab0f3f"
    compress format="tar.xz"
    size bytes=1081316
}

plugin version="0.2.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/identity-v0.2.0/identity-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="6af018c5822f5cbebd48c3c92976d439b9e77d691a7fe246cdcfac4fd874b917"
    compress format="tar.xz"
    size bytes=1174992
}

plugin version="0.2.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/identity-v0.2.0/identity-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="446224e79c42d6da1f80aaed7add1c54f86af58c85c04c0c42c9e827d4628fda"
    compress format="zip"
    size bytes=3962053
}

plugin version="0.2.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/identity-v0.2.0/identity-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="426d5308522ffb3db2b4d04a295e446a943c7101358c4760086d8b8bb39c16df"
    compress format="tar.xz"
    size bytes=1262112
}

plugin version="0.3.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/identity-v0.3.0/identity-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="270e2d54cba3cb7e97cb09db0bde6b053ea1bed96ee8d029fc349f46e5c133dd"
    compress format="tar.xz"
    size bytes=1102332
}

plugin version="0.3.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/identity-v0.3.0/identity-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="e62cb2685664f029d3bbc42cc7b1be4e37d5508a63d23ac18cca970224a2d87d"
    compress format="tar.xz"
    size bytes=1195524
}

plugin version="0.3.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/identity-v0.3.0/identity-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="192c26424be28f63a0c14bdd1c29a5d8038b276837dbadc5fec8d35e97ab47b8"
    compress format="zip"
    size bytes=3964101
}

plugin version="0.3.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/identity-v0.3.0/identity-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="343d011e222c18fb341f34d924850932266a79cc939d3279e907609d72aed8f1"
    compress format="tar.xz"
    size bytes=1275076
}

plugin version="0.4.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/identity-v0.4.0/identity-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="522d505f79bec619fdbe6d0c821233bda921bee20967d56ffa7e7304ff32f9bf"
    compress format="tar.xz"
    size bytes=1055076
}

plugin version="0.4.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/identity-v0.4.0/identity-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="007162c51e9ef21e47f3afedc4a554a02dd487c512ddfeed4292b3d64252dfcf"
    compress format="tar.xz"
    size bytes=1143672
}

plugin version="0.4.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/identity-v0.4.0/identity-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="2aadbb09e1b684d1ba35bc5f3e6678f66d0fcbfcbf399956a73b7cf0e62c67aa"
    compress format="zip"
    size bytes=3759904
}

plugin version="0.4.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/identity-v0.4.0/identity-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="cb76a349f59daf40848e530c2f162b00b6f4cdc227cc641d4c302624a0c0d64d"
    compress format="tar.xz"
    size bytes=1215860
}

plugin version="0.4.1" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/identity-v0.4.1/identity-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="e3ec1bce8d93185acfe1644fa8ed14767540c3e3c11407eb7f89f26ebfd935d2"
    compress format="tar.xz"
    size bytes=1049912
}

plugin version="0.4.1" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/identity-v0.4.1/identity-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="4c1c9ca2e21acf40f2a2da51cf47bf4e85b9e05ac43916e67cea9373a293e0f5"
    compress format="tar.xz"
    size bytes=1141656
}

plugin version="0.4.1" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/identity-v0.4.1/identity-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="04772ed4f6adf6554553a360432c3462b47491dcda4b8ceccc931deb8b45197a"
    compress format="zip"
    size bytes=3760927
}

plugin version="0.4.1" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/identity-v0.4.1/identity-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="22062ac411d38bd5a3c35e48058c75c9beca08a877cb4df9ab93119243db0af7"
    compress format="tar.xz"
    size bytes=1212492
}
