
plugin version="0.1.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/linguist-v0.1.0/linguist-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="0f07051f7b1e68b532eb674b90b7e8df5d27ce889c81e05404e63b611ddffa7e"
    compress format="tar.xz"
    size bytes=1061228
}

plugin version="0.1.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/linguist-v0.1.0/linguist-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="f6dd7c23f63d571bedbde7c827658aab563e24939e3cc100196689809545ec9d"
    compress format="tar.xz"
    size bytes=1154760
}

plugin version="0.1.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/linguist-v0.1.0/linguist-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="4e8d4e03578b3957fc7937ffe5a6986e50f81b631ef685552396d05ca3d16ba5"
    compress format="zip"
    size bytes=3813954
}

plugin version="0.1.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/linguist-v0.1.0/linguist-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="b747a227e976f15b36ceffd2bee932d28631b0d90014868693d8ba5aded15a33"
    compress format="tar.xz"
    size bytes=1242572
}

plugin version="0.2.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/linguist-v0.2.0/linguist-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="125adf06b60e010fce470ee7a0547aa6d078b7c62214c934d0a24dfbd6ae2ad5"
    compress format="tar.xz"
    size bytes=1026964
}

plugin version="0.2.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/linguist-v0.2.0/linguist-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="f75ab6bbd2b55fa872ed37bb6ba6d0d6a0739cc890d482b91c654d6d9e950d5a"
    compress format="tar.xz"
    size bytes=1111996
}

plugin version="0.2.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/linguist-v0.2.0/linguist-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="2d1ee1c93c28677e15ee5b19f976402de21c804a6e55a215273c488b997d9af3"
    compress format="zip"
    size bytes=3588162
}

plugin version="0.2.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/linguist-v0.2.0/linguist-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="96c0dd79fb5815874a1249bbbbcaaa105845661175b9d3c3a2f86557695f7deb"
    compress format="tar.xz"
    size bytes=1190188
}

plugin version="0.3.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/linguist-v0.3.0/linguist-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="c28b303332a49b329fd50d3848fe48e031a39819734caf620677ae2ae8e1b5d1"
    compress format="tar.xz"
    size bytes=1133156
}

plugin version="0.3.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/linguist-v0.3.0/linguist-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="c3890dacefd1acd933d6d4a7e8d191666bd6f1f8cbb8ced7d0762c2312493fdf"
    compress format="tar.xz"
    size bytes=1232576
}

plugin version="0.3.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/linguist-v0.3.0/linguist-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="c89f63285409c59e2f076f3180ca905861c747c2019ae44807f0118af5b61e61"
    compress format="zip"
    size bytes=3980957
}

plugin version="0.3.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/linguist-v0.3.0/linguist-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="528876821b0b7ecc4b020285a159f4bf88d036bffe447acc62da438c5a8ab8cd"
    compress format="tar.xz"
    size bytes=1309444
}

plugin version="0.3.1" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/linguist-v0.3.1/linguist-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="e0bb45cf236a74a421c55266cb30f6ca9c129a4496985444325ac9f30e6b7862"
    compress format="tar.xz"
    size bytes=1127940
}

plugin version="0.3.1" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/linguist-v0.3.1/linguist-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="df5711040f27b7111505defbc5073b9d36419e118e4477b6e3a853991a629e4b"
    compress format="tar.xz"
    size bytes=1230336
}

plugin version="0.3.1" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/linguist-v0.3.1/linguist-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="390083a41aa90bac3c700b750b23bf1858dcd996ee1886cfa3e8b3baea6cd8e0"
    compress format="zip"
    size bytes=3960989
}

plugin version="0.3.1" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/linguist-v0.3.1/linguist-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="52e67aa6de31e9920c6d363cbc30bde3ae5ca0beaae3b2492ce23204bba9bb27"
    compress format="tar.xz"
    size bytes=1306124
}
