
plugin version="0.1.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/npm-v0.1.0/npm-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="844d46b0dcf40d8d936a225bc2b3e05770328d0f999f3d140e770006cde26b6b"
    compress format="tar.xz"
    size bytes=1372136
}

plugin version="0.1.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/npm-v0.1.0/npm-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="8df805599f507ab2cb4a1f5290b3c7fe32ce2725998640b94e91140d0550f9dc"
    compress format="tar.xz"
    size bytes=1516548
}

plugin version="0.1.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/npm-v0.1.0/npm-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="3bad07bf00da8420704431c8a5038b997243404427d2a405c8adc2a8d4162647"
    compress format="zip"
    size bytes=5334047
}

plugin version="0.1.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/npm-v0.1.0/npm-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="1a18e92ab219dfb846d6c781fe97d6c37c6892b22db51c36de05912b21fee231"
    compress format="tar.xz"
    size bytes=1654852
}

plugin version="0.2.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/npm-v0.2.0/npm-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="e9e2e1d17a83c88781e60198edd9ff65e56862369ecdb95b0c5ed62e9f6b51be"
    compress format="tar.xz"
    size bytes=1399252
}

plugin version="0.2.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/npm-v0.2.0/npm-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="adadaaf0f614d37b5e07a3fa5699c89da4110880ba38b2fbe75ad0cb02571885"
    compress format="tar.xz"
    size bytes=1544968
}

plugin version="0.2.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/npm-v0.2.0/npm-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="be77d38e10a6a9375789bd47ac12f4bbecb0c72ddbf2e380d714df9b4ac7ca1e"
    compress format="zip"
    size bytes=5361695
}

plugin version="0.2.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/npm-v0.2.0/npm-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="8c0d04846c896fc172b121e0867745600bc36edb2174421e6248218a07966c5c"
    compress format="tar.xz"
    size bytes=1671180
}

plugin version="0.3.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/npm-v0.3.0/npm-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="949bceca5e06ac40461d97900b67f29c29f207fa23221d73bb2d756b610cd1b4"
    compress format="tar.xz"
    size bytes=1356908
}

plugin version="0.3.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/npm-v0.3.0/npm-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="c54667d6fe2eb36e9aa0df0b57042033ab62e73c9c4413874fd31b518366b4bb"
    compress format="tar.xz"
    size bytes=1496236
}

plugin version="0.3.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/npm-v0.3.0/npm-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="782e2b91f75216006a2e15d8d24f85d37b539b82696d3699568e45959f6fb872"
    compress format="zip"
    size bytes=5170810
}

plugin version="0.3.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/npm-v0.3.0/npm-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="753ae21f4dde9b7fb43b93a2db6d551015bdd28581ff7e95b2ebec1ecbb1593a"
    compress format="tar.xz"
    size bytes=1617312
}

plugin version="0.3.1" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/npm-v0.3.1/npm-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="7f7d4dcc891cd0648b9dc2ed81952b7d30fc35df7c53f80b714f3b3bb752c93b"
    compress format="tar.xz"
    size bytes=1352672
}

plugin version="0.3.1" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/npm-v0.3.1/npm-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="5ad655f67de3ecaa3b1db78044bd472ba12b418a0cd20d8f084b7bea95d688c6"
    compress format="tar.xz"
    size bytes=1494488
}

plugin version="0.3.1" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/npm-v0.3.1/npm-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="ee70531a1b2f38bb90f0d902ad17a6ad5a1c296160b3310e8260f49599c82257"
    compress format="zip"
    size bytes=5120122
}

plugin version="0.3.1" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/npm-v0.3.1/npm-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="461c0d0bdce564efd3f8d2d4c0f8ea638e14ddf0763bdfdbfb79c2717c8f27d6"
    compress format="tar.xz"
    size bytes=1612284
}

plugin version="0.4.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/npm-v0.4.0/npm-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="1a50fe76d6d8275da22ae2fc90fc1fdf0b9068e4f2211b2431c964991ac4ca6c"
    compress format="tar.xz"
    size bytes=1634760
}

plugin version="0.4.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/npm-v0.4.0/npm-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="049b7037126e1eef43e7f80d84b6efec0152abd9032bacfd9a1988a8eb96c85b"
    compress format="tar.xz"
    size bytes=1808008
}

plugin version="0.4.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/npm-v0.4.0/npm-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="8efbfbc1c15ed025e96ad24676a353fe4c84d29c54f63f6a7d124fca104efa97"
    compress format="zip"
    size bytes=6512250
}

plugin version="0.4.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/npm-v0.4.0/npm-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="04531d0ae9fb03a932f8f83734dd482a38ce64358e7160e00c5594ffeb15f9f5"
    compress format="tar.xz"
    size bytes=1968992
}

plugin version="0.4.1" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/npm-v0.4.1/npm-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="67845fab9ac31c0cffb89c4f8c84dc0b316c9eb3e7eca41f28582de7922ef1c3"
    compress format="tar.xz"
    size bytes=1640048
}

plugin version="0.4.1" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/npm-v0.4.1/npm-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="fd8849ae8d2ca0730b490280dde909533fcdd28c7aff14d38df2cd07c18a4a46"
    compress format="tar.xz"
    size bytes=1810184
}

plugin version="0.4.1" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/npm-v0.4.1/npm-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="761b1357ee621bbd00ae407e2fcaf5ec2772ef24a7698112c32d9d676aa282fa"
    compress format="zip"
    size bytes=6517882
}

plugin version="0.4.1" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/npm-v0.4.1/npm-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="ed845ca805b60c73ba45dade42c68c377c7d95f85ad01bc1d98c7f8e8b5cf183"
    compress format="tar.xz"
    size bytes=1968688
}

plugin version="0.4.2" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/npm-v0.4.2/npm-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="64a74e7061338b099e8f2f6dbf180c3cc01ad3bc9d479637256f25b44f98c6a5"
    compress format="tar.xz"
    size bytes=1638928
}

plugin version="0.4.2" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/npm-v0.4.2/npm-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="07c062113a7c0dee5e6fa1b9bd9f27e67404363e3661205d3b3d6d0988a95ed3"
    compress format="tar.xz"
    size bytes=1812384
}

plugin version="0.4.2" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/npm-v0.4.2/npm-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="eb3f9710517f8b2ab17307bb8e068bf2a071583364368ba624dc52158665839d"
    compress format="zip"
    size bytes=6525050
}

plugin version="0.4.2" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/npm-v0.4.2/npm-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="dd0e739096742c3ddf29a93e934c80cd2279957d0022c6bd7da96059170bd076"
    compress format="tar.xz"
    size bytes=1971536
}
