
plugin version="0.1.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/npm-v0.1.0/npm-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="844d46b0dcf40d8d936a225bc2b3e05770328d0f999f3d140e770006cde26b6b"
    compress format="tar.xz"
    size bytes=1372136
}

plugin version="0.1.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/npm-v0.1.0/npm-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="8df805599f507ab2cb4a1f5290b3c7fe32ce2725998640b94e91140d0550f9dc"
    compress format="tar.xz"
    size bytes=1516548
}

plugin version="0.1.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/npm-v0.1.0/npm-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="3bad07bf00da8420704431c8a5038b997243404427d2a405c8adc2a8d4162647"
    compress format="zip"
    size bytes=5334047
}

plugin version="0.1.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/npm-v0.1.0/npm-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="1a18e92ab219dfb846d6c781fe97d6c37c6892b22db51c36de05912b21fee231"
    compress format="tar.xz"
    size bytes=1654852
}

plugin version="0.2.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/npm-v0.2.0/npm-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="e9e2e1d17a83c88781e60198edd9ff65e56862369ecdb95b0c5ed62e9f6b51be"
    compress format="tar.xz"
    size bytes=1399252
}

plugin version="0.2.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/npm-v0.2.0/npm-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="adadaaf0f614d37b5e07a3fa5699c89da4110880ba38b2fbe75ad0cb02571885"
    compress format="tar.xz"
    size bytes=1544968
}

plugin version="0.2.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/npm-v0.2.0/npm-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="be77d38e10a6a9375789bd47ac12f4bbecb0c72ddbf2e380d714df9b4ac7ca1e"
    compress format="zip"
    size bytes=5361695
}

plugin version="0.2.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/npm-v0.2.0/npm-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="8c0d04846c896fc172b121e0867745600bc36edb2174421e6248218a07966c5c"
    compress format="tar.xz"
    size bytes=1671180
}
