
plugin version="0.1.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/review-v0.1.0/review-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="8a8326468ea9a0f7e29696426a82c5366512b45659d7a3cc8761bf8ad6b0c861"
    compress format="tar.xz"
    size bytes=1077628
}

plugin version="0.1.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/review-v0.1.0/review-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="a8103dd97d1b8438e3c30d0f164dea57834e42d51bb41f92a10fd68f0fadb08c"
    compress format="tar.xz"
    size bytes=1168736
}

plugin version="0.1.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/review-v0.1.0/review-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="ae0cbc0dadace695a99aff433a48be6d4d55f1312460c81897ea5fbf821d452c"
    compress format="zip"
    size bytes=3920051
}

plugin version="0.1.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/review-v0.1.0/review-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="254615fdd57ab3f949bbcbe5bbe0c1c457430de991515daeafc15cb5a3e612d8"
    compress format="tar.xz"
    size bytes=1257140
}

plugin version="0.2.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/review-v0.2.0/review-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="d7410f484299b74745236ea09922a8d4068321f351c41dd68b53b92d3f69bd52"
    compress format="tar.xz"
    size bytes=1098336
}

plugin version="0.2.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/review-v0.2.0/review-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="63fb34502640aa59185de722438b8d4b12dd887327fa44f3a4228b95ba2abbc3"
    compress format="tar.xz"
    size bytes=1189784
}

plugin version="0.2.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/review-v0.2.0/review-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="94d83f9828e95778d4143afef86d475e1a384cec701460602d98614411603d30"
    compress format="zip"
    size bytes=3927219
}

plugin version="0.2.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/review-v0.2.0/review-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="7e473918d627744ba22e071de8e302d68b3e7ce52a840d4254e64cca8f5398cf"
    compress format="tar.xz"
    size bytes=1271188
}

plugin version="0.3.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/review-v0.3.0/review-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="cbf984df15ee13c3da878ff368e2474ca177b372ec8a2a755f8b7fb1f157ef7f"
    compress format="tar.xz"
    size bytes=1050372
}

plugin version="0.3.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/review-v0.3.0/review-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="a3ca7642541c8eb9339337c91e36a7624744e4815f346ee3700b7b372b1dd1cd"
    compress format="tar.xz"
    size bytes=1137680
}

plugin version="0.3.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/review-v0.3.0/review-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="182a4005abd93d28aeed02e04168a0e4fef3068b6cdf5c833ff49fe711548f7e"
    compress format="zip"
    size bytes=3719950
}

plugin version="0.3.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/review-v0.3.0/review-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="0a66d08473ffd525ed561f6400e467d5c0f809b6812e0d6c5a44b9f76b434f63"
    compress format="tar.xz"
    size bytes=1210776
}

plugin version="0.3.1" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/review-v0.3.1/review-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="78e49df8d913d6fe4de13f5ff6e798b29b21e11041f3205bd5f88442ade45bb0"
    compress format="tar.xz"
    size bytes=1045516
}

plugin version="0.3.1" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/review-v0.3.1/review-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="b282de963c043d473a8e08f4108b61a366c455c5b3d2c229b0395bc977094656"
    compress format="tar.xz"
    size bytes=1135904
}

plugin version="0.3.1" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/review-v0.3.1/review-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="6548427f19b1904a1f30223949e8cdd21392cb47650b2f82f478433fe9e161de"
    compress format="zip"
    size bytes=3721485
}

plugin version="0.3.1" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/review-v0.3.1/review-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="fefb2371be0e43f59103b52bee672ac1df8bf3e8d53e520152dd46014fa7c1be"
    compress format="tar.xz"
    size bytes=1207992
}

plugin version="0.4.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/review-v0.4.0/review-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="34a076732d2be1baf5da9961b5c08ae0981202aa4d51e3f6c2775a31851a5b58"
    compress format="tar.xz"
    size bytes=1693744
}

plugin version="0.4.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/review-v0.4.0/review-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="9ee1e2cedfbf5bf2555d5bee425df46774925d24756668a25e2b1a3572401306"
    compress format="tar.xz"
    size bytes=1868484
}

plugin version="0.4.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/review-v0.4.0/review-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="46ab45a54649c575c88e6b9f9e6857a3fa9b600ba1c98ad84bc8fde7e72668e0"
    compress format="zip"
    size bytes=6749965
}

plugin version="0.4.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/review-v0.4.0/review-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="01d8cd9ed8cca3ab3edb69c3b8cbd677ed8da1106e50304bace90d5763eb153c"
    compress format="tar.xz"
    size bytes=2025988
}

plugin version="0.4.1" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/review-v0.4.1/review-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="503e1f29ccb684ebfd8375ca5ad4f774bd162d1e116305ff034465f600939e7b"
    compress format="tar.xz"
    size bytes=1697528
}

plugin version="0.4.1" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/review-v0.4.1/review-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="1862a633ac611119532cea3ee2659f09255ab81c95aceaf15b19aefae070c864"
    compress format="tar.xz"
    size bytes=1871072
}

plugin version="0.4.1" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/review-v0.4.1/review-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="42cb09f2109ac3b2ee1e0eb5be603b909088ef46b7bd8554a07c9dbd638ab65a"
    compress format="zip"
    size bytes=6758157
}

plugin version="0.4.1" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/review-v0.4.1/review-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="08c53c61da3121ce50db3f6ab45a6d96186b9625f0f167f32b6f277129187721"
    compress format="tar.xz"
    size bytes=2031380
}

plugin version="0.4.2" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/review-v0.4.2/review-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="53fcdff4c82c0c7eeb13d281a862269c15189f2f1d26a7cb6aa16e5bd123b55e"
    compress format="tar.xz"
    size bytes=1698748
}

plugin version="0.4.2" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/review-v0.4.2/review-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="12e03466c0ba8e2b8483b92f31420ae9b1b090a0a08c18c445f2ccd79d7a5280"
    compress format="tar.xz"
    size bytes=1872848
}

plugin version="0.4.2" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/review-v0.4.2/review-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="e904d3d709912397fcf2aef9cdd5982bc396ed9c5382e06fe67f973436ba3b67"
    compress format="zip"
    size bytes=6765837
}

plugin version="0.4.2" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/review-v0.4.2/review-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="b804e422bcc72404d6ee5c64e929aea2647c45f47a19f6260785ca9f240d3b33"
    compress format="tar.xz"
    size bytes=2030876
}
