
plugin version="0.1.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/review-v0.1.0/review-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="8a8326468ea9a0f7e29696426a82c5366512b45659d7a3cc8761bf8ad6b0c861"
    compress format="tar.xz"
    size bytes=1077628
}

plugin version="0.1.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/review-v0.1.0/review-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="a8103dd97d1b8438e3c30d0f164dea57834e42d51bb41f92a10fd68f0fadb08c"
    compress format="tar.xz"
    size bytes=1168736
}

plugin version="0.1.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/review-v0.1.0/review-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="ae0cbc0dadace695a99aff433a48be6d4d55f1312460c81897ea5fbf821d452c"
    compress format="zip"
    size bytes=3920051
}

plugin version="0.1.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/review-v0.1.0/review-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="254615fdd57ab3f949bbcbe5bbe0c1c457430de991515daeafc15cb5a3e612d8"
    compress format="tar.xz"
    size bytes=1257140
}

plugin version="0.2.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/review-v0.2.0/review-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="d7410f484299b74745236ea09922a8d4068321f351c41dd68b53b92d3f69bd52"
    compress format="tar.xz"
    size bytes=1098336
}

plugin version="0.2.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/review-v0.2.0/review-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="63fb34502640aa59185de722438b8d4b12dd887327fa44f3a4228b95ba2abbc3"
    compress format="tar.xz"
    size bytes=1189784
}

plugin version="0.2.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/review-v0.2.0/review-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="94d83f9828e95778d4143afef86d475e1a384cec701460602d98614411603d30"
    compress format="zip"
    size bytes=3927219
}

plugin version="0.2.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/review-v0.2.0/review-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="7e473918d627744ba22e071de8e302d68b3e7ce52a840d4254e64cca8f5398cf"
    compress format="tar.xz"
    size bytes=1271188
}
