
plugin version="0.1.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/typo-v0.1.0/typo-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="9107c6c16db5ffc5dc539c491ea68b2a65ed146488b2eb7abb4bdb055d04ecc5"
    compress format="tar.xz"
    size bytes=1193744
}

plugin version="0.1.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/typo-v0.1.0/typo-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="b3cd10abe658448484503b215aa06e65a28c29c3d533279d0bece53ab6143762"
    compress format="tar.xz"
    size bytes=1298664
}

plugin version="0.1.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/typo-v0.1.0/typo-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="68af2b1c0109dc336fbd2e7ef12a7862af74e47f926dc031df93e79d4cb3a331"
    compress format="zip"
    size bytes=4370591
}

plugin version="0.1.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/typo-v0.1.0/typo-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="8d11ef7f23c438dfcc4c9a84a774e9a86aa5467430fca896d4954da1b3d56be9"
    compress format="tar.xz"
    size bytes=1392500
}

plugin version="0.2.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/typo-v0.2.0/typo-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="50b68e480d1d2c8e647a4b9f3a4ed010e9a214475c57e54e2fee8a74bee2604e"
    compress format="tar.xz"
    size bytes=1168568
}

plugin version="0.2.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/typo-v0.2.0/typo-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="71a1c7570dd33dd53fd80c5c1807d05d6d997a0d0161a0379af3d462f7f5acc3"
    compress format="tar.xz"
    size bytes=1269336
}

plugin version="0.2.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/typo-v0.2.0/typo-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="e1d624118b5ab16e9f838dc9972475e521423965af6c6524e315b7f8c01e8562"
    compress format="zip"
    size bytes=4163231
}

plugin version="0.2.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/typo-v0.2.0/typo-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="3b7b19327c45a15ccf5bb7fa48073d7b1bed9b6cce0e8c0b2e543f7f690895a3"
    compress format="tar.xz"
    size bytes=1352932
}

plugin version="0.3.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/typo-v0.3.0/typo-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="b6f7a631c7168baeb4059eddf7b21f3bbebf62acb25337fe9ae7767f48c4984a"
    compress format="tar.xz"
    size bytes=1273784
}

plugin version="0.3.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/typo-v0.3.0/typo-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="95c0c0c5c3be04d9b706918e943ec5838916134ca4fcda0d92ae2dd36f51610d"
    compress format="tar.xz"
    size bytes=1387276
}

plugin version="0.3.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/typo-v0.3.0/typo-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="116df378565b58f58c942163669a462c0004a968a0efd52d3570c67e7121ded8"
    compress format="zip"
    size bytes=4563706
}

plugin version="0.3.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/typo-v0.3.0/typo-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="783d527bb8b1350a32101c2775a1a4dfb519458a5401834a67ca78ee11a5466f"
    compress format="tar.xz"
    size bytes=1470276
}
