
plugin version="0.1.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/typo-v0.1.0/typo-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="9107c6c16db5ffc5dc539c491ea68b2a65ed146488b2eb7abb4bdb055d04ecc5"
    compress format="tar.xz"
    size bytes=1193744
}

plugin version="0.1.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/typo-v0.1.0/typo-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="b3cd10abe658448484503b215aa06e65a28c29c3d533279d0bece53ab6143762"
    compress format="tar.xz"
    size bytes=1298664
}

plugin version="0.1.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/typo-v0.1.0/typo-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="68af2b1c0109dc336fbd2e7ef12a7862af74e47f926dc031df93e79d4cb3a331"
    compress format="zip"
    size bytes=4370591
}

plugin version="0.1.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/typo-v0.1.0/typo-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="8d11ef7f23c438dfcc4c9a84a774e9a86aa5467430fca896d4954da1b3d56be9"
    compress format="tar.xz"
    size bytes=1392500
}

plugin version="0.2.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/typo-v0.2.0/typo-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="50b68e480d1d2c8e647a4b9f3a4ed010e9a214475c57e54e2fee8a74bee2604e"
    compress format="tar.xz"
    size bytes=1168568
}

plugin version="0.2.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/typo-v0.2.0/typo-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="71a1c7570dd33dd53fd80c5c1807d05d6d997a0d0161a0379af3d462f7f5acc3"
    compress format="tar.xz"
    size bytes=1269336
}

plugin version="0.2.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/typo-v0.2.0/typo-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="e1d624118b5ab16e9f838dc9972475e521423965af6c6524e315b7f8c01e8562"
    compress format="zip"
    size bytes=4163231
}

plugin version="0.2.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/typo-v0.2.0/typo-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="3b7b19327c45a15ccf5bb7fa48073d7b1bed9b6cce0e8c0b2e543f7f690895a3"
    compress format="tar.xz"
    size bytes=1352932
}

plugin version="0.3.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/typo-v0.3.0/typo-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="b6f7a631c7168baeb4059eddf7b21f3bbebf62acb25337fe9ae7767f48c4984a"
    compress format="tar.xz"
    size bytes=1273784
}

plugin version="0.3.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/typo-v0.3.0/typo-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="95c0c0c5c3be04d9b706918e943ec5838916134ca4fcda0d92ae2dd36f51610d"
    compress format="tar.xz"
    size bytes=1387276
}

plugin version="0.3.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/typo-v0.3.0/typo-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="116df378565b58f58c942163669a462c0004a968a0efd52d3570c67e7121ded8"
    compress format="zip"
    size bytes=4563706
}

plugin version="0.3.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/typo-v0.3.0/typo-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="783d527bb8b1350a32101c2775a1a4dfb519458a5401834a67ca78ee11a5466f"
    compress format="tar.xz"
    size bytes=1470276
}

plugin version="0.3.1" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/typo-v0.3.1/typo-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="a7a265e6703726e41879a18c4aaa7b6815cc28aa8f0040916167688b99e3d1dd"
    compress format="tar.xz"
    size bytes=1269260
}

plugin version="0.3.1" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/typo-v0.3.1/typo-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="61ea2e5d6990c0a60a4759077b8ac9b22fdf9237ecd3b634775db94932b8ffb5"
    compress format="tar.xz"
    size bytes=1386428
}

plugin version="0.3.1" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/typo-v0.3.1/typo-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="579230180c239c54a2790823ee0dcce6caab8025450da52e7830f97f1a008447"
    compress format="zip"
    size bytes=4576505
}

plugin version="0.3.1" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/typo-v0.3.1/typo-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="138601f0193cf8b2efec5be084c2d7a5ee699c82ca87c7c56fce59eab44021c6"
    compress format="tar.xz"
    size bytes=1469680
}

plugin version="0.4.0" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/typo-v0.4.0/typo-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="c334cba9fd230f42e5d9dd20ffc446fe438b6e04f3530bf3d80e1d38434a9c1f"
    compress format="tar.xz"
    size bytes=1896464
}

plugin version="0.4.0" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/typo-v0.4.0/typo-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="7a92174f1b8040f4357ae8a2e4bc709a2267bc24ecc5f5189ea6a40c004e0a8c"
    compress format="tar.xz"
    size bytes=2097396
}

plugin version="0.4.0" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/typo-v0.4.0/typo-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="7c77bba12cdc5211778c9a0e62214defc06c0c8535e8fb21e18e35e4053f619c"
    compress format="zip"
    size bytes=7578873
}

plugin version="0.4.0" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/typo-v0.4.0/typo-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="ac5395b3935761df59ac3fbeb38ff3bd6d08cb8bd7fe933067031190d2c27030"
    compress format="tar.xz"
    size bytes=2267520
}

plugin version="0.4.1" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/typo-v0.4.1/typo-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="3d97af39d57dafe39c0c9a23f402ebe1a0890a715d385781db04cd2f0187ac78"
    compress format="tar.xz"
    size bytes=1902908
}

plugin version="0.4.1" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/typo-v0.4.1/typo-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="c7a0f88dfad12c2e280949ca05c4b3cb03ad4252b099f56a335ce3a5d55db015"
    compress format="tar.xz"
    size bytes=2105456
}

plugin version="0.4.1" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/typo-v0.4.1/typo-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="bab0b4196820c46ecf8d9e4bf3004eda5ebe7f17886033c80fb352f4b3d57683"
    compress format="zip"
    size bytes=7592185
}

plugin version="0.4.1" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/typo-v0.4.1/typo-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="4dd42356f5445f81c8fdf467b4b3ddd23881737ba277229b5d86cc5bbeb963d6"
    compress format="tar.xz"
    size bytes=2274052
}

plugin version="0.4.2" arch="aarch64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/typo-v0.4.2/typo-aarch64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="5532d191e27e2321fb1965528895164c4d8e59844b8a93ff36cbd1390a590f26"
    compress format="tar.xz"
    size bytes=1909812
}

plugin version="0.4.2" arch="x86_64-apple-darwin" {
    url "https://github.com/mitre/hipcheck/releases/download/typo-v0.4.2/typo-x86_64-apple-darwin.tar.xz"
    hash alg="SHA256" digest="1feb3430c7286c31910cd2226ec094c4735a4328b7f8022df3231a6399e949d0"
    compress format="tar.xz"
    size bytes=2106660
}

plugin version="0.4.2" arch="x86_64-pc-windows-msvc" {
    url "https://github.com/mitre/hipcheck/releases/download/typo-v0.4.2/typo-x86_64-pc-windows-msvc.zip"
    hash alg="SHA256" digest="94ace25f86cc2aa69fa6f8080f367804375501b32f36cdea79f9b8b10ccaf7f5"
    compress format="zip"
    size bytes=7600377
}

plugin version="0.4.2" arch="x86_64-unknown-linux-gnu" {
    url "https://github.com/mitre/hipcheck/releases/download/typo-v0.4.2/typo-x86_64-unknown-linux-gnu.tar.xz"
    hash alg="SHA256" digest="55ac9f6aa92a1eee9fb31918c958d2b31d82d2f17a90a6da692a191ab0e325fb"
    compress format="tar.xz"
    size bytes=2276424
}
