
plugin version="0.1.0" arch="aarch64-apple-darwin" {
  url "https://github.com/mitre/hipcheck/releases/download/typo-v0.1.0/typo-aarch64-apple-darwin.tar.xz"
  hash alg="SHA256" digest="9107c6c16db5ffc5dc539c491ea68b2a65ed146488b2eb7abb4bdb055d04ecc5"
  compress format="tar.xz"
  size bytes=1_193_744
}

plugin version="0.1.0" arch="x86_64-apple-darwin" {
  url "https://github.com/mitre/hipcheck/releases/download/typo-v0.1.0/typo-x86_64-apple-darwin.tar.xz"
  hash alg="SHA256" digest="b3cd10abe658448484503b215aa06e65a28c29c3d533279d0bece53ab6143762"
  compress format="tar.xz"
  size bytes=1_298_664
}

plugin version="0.1.0" arch="x86_64-pc-windows-msvc" {
  url "https://github.com/mitre/hipcheck/releases/download/typo-v0.1.0/typo-x86_64-pc-windows-msvc.zip"
  hash alg="SHA256" digest="68af2b1c0109dc336fbd2e7ef12a7862af74e47f926dc031df93e79d4cb3a331"
  compress format="zip"
  size bytes=4_370_591
}

plugin version="0.1.0" arch="x86_64-unknown-linux-gnu" {
  url "https://github.com/mitre/hipcheck/releases/download/typo-v0.1.0/typo-x86_64-uknown-linux-gnu.tar.xz"
  hash alg="SHA256" digest="8d11ef7f23c438dfcc4c9a84a774e9a86aa5467430fca896d4954da1b3d56be9"
  compress format="tar.xz"
  size bytes=1_392_500
}
