[package]
name = "hipcheck-common"
description = "Common functionality for the Hipcheck gRPC protocol"
repository = "https://github.com/mitre/hipcheck"
version = "0.4.2"
license = "Apache-2.0"
edition = "2024"

[dependencies]
anyhow = { workspace = true }
clap = { workspace = true, features = ["cargo", "derive", "string"] }
prost = { workspace = true }
serde = { workspace = true, features = ["derive", "rc"] }
serde_json = { workspace = true }
thiserror = { workspace = true }
tonic = { workspace = true }
tonic-prost = { workspace = true }
hipcheck-workspace-hack = { workspace = true }

[build-dependencies]
anyhow = { workspace = true }
pathbuf = { workspace = true }
tonic-prost-build = { workspace = true }

[features]
default = ["rfd9-compat"]
rfd9-compat = []

[package.metadata.cargo-machete]
ignored = ["prost", "tonic"]
