{% import "macros/breadcrumbs.tera.html" as bc %}
{% import "macros/icon.tera.html" as ic %}
{% import "macros/toc.tera.html" as toc %}

<!doctype html>
<html lang="en-US" class="">
    <head>
        <title>{% block title %}Hipcheck{% endblock %}</title>
        {% include "partials/head.tera.html" %}
    </head>
    <body class="bg-white dark:bg-neutral-900 {% block body_classes %}{% endblock %}">
        <div class="">
            <div class="border-b border-neutral-200 dark:border-neutral-800">
                {% include "partials/nav.tera.html" %}

                {% block breadcrumbs %}
                    {% set current = section | default(value=page) %}
                    {{ bc::breadcrumbs(current=current) }}
                {% endblock %}
            </div>

            <div class="lg:max-w-7xl lg:mx-auto mt-8 lg:mt-32 lg:mb-8 px-4 lg:px-0 lg:pb-32">
                <div class="lg:grid lg:grid-cols-12 lg:gap-16">
                    <div class="lg:col-span-7">
                        <div class="
                            lg:w-full lg:max-w-none
                            {% include 'partials/prose-config.tera.html' %}
                            ">
                            {% block content %}{% endblock %}
                        </div>
                    </div>

                    <div class="lg:col-span-5">
                        <div class="sticky top-8">
                            {% block sidebar %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>

            {% block extra %}{% endblock %}

            {% include "partials/footer.tera.html" %}
        </div>

        {% include "partials/search.tera.html" %}
        {% include "partials/end.tera.html" %}
    </body>
</html>
