{% import "macros/breadcrumbs.tera.html" as bc %}

<!doctype html>
<html lang=""en-US" class="">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script type="importmap">
          {
            "imports": {
              "theme": "/js/theme.mjs"
            }
          }
        </script>
        <script rel="modulepreloaded" type="module" src="/js/load-theme.mjs"></script>

        <link href="https://rsms.me/inter/inter.css" rel="stylesheet">
        <link href="/main.css" rel="stylesheet">
        <title>{% block title %}Hipcheck{% endblock %}</title>
    </head>
    <body class="bg-white dark:bg-zinc-900">
        <div class="">
            <div class="border-b border-zinc-100 dark:border-zinc-800">
                {% include "partials/nav.tera.html" %}

                {% block breadcrumbs %}
                    {% set current = section | default(value=page) %}
                    {{ bc::breadcrumbs(current=current) }}
                {% endblock %}
            </div>

            <div class="max-w-6xl mx-auto mt-24 pb-20">
                <div class="flex gap-16">
                    <div class="basis-2/3">
                        <div class="prose dark:prose-invert w-full max-w-none">
                            {% block content %}{% endblock %}
                        </div>
                    </div>

                    <div class="basis-1/3">
                        <div>
                            {% block sidebar %}{% endblock %}
                        </div>
                    </div>
                </div>

            </div>

            {% include "partials/footer.tera.html" %}
        </div>

        <script rel="modulepreloaded" type="module" src="/js/setup-theme-toggle.mjs"></script>
    </body>
</html>
