plugins {
    plugin "mitre/activity" version="0.1.0" manifest="https://github.com/mitre/hipcheck/blob/main/plugin/dist/mitre-activity.kdl"
    plugin "mitre/binary" version="0.1.0" manifest="https://github.com/mitre/hipcheck/blob/main/plugin/dist/mitre-binary.kdl"
    plugin "mitre/fuzz" version="0.1.0" manifest="https://github.com/mitre/hipcheck/blob/main/plugin/dist/mitre-fuzz.kdl"
    plugin "mitre/identity" version="0.1.0" manifest="https://github.com/mitre/hipcheck/blob/main/plugin/dist/mitre-identity.kdl"
    plugin "mitre/review" version="0.1.0" manifest="https://github.com/mitre/hipcheck/blob/main/plugin/dist/mitre-review.kdl"
    plugin "mitre/typo" version="0.1.0" manifest="https://github.com/mitre/hipcheck/blob/main/plugin/dist/mitre-typo.kdl"
    plugin "mitre/affiliation" version="0.1.0" manifest="https://github.com/mitre/hipcheck/blob/main/plugin/dist/mitre-affiliation.kdl"
    plugin "mitre/churn" version="0.1.0" manifest="https://github.com/mitre/hipcheck/blob/main/plugin/dist/mitre-churn.kdl"
    plugin "mitre/entropy" version="0.1.0" manifest="https://github.com/mitre/hipcheck/blob/main/plugin/dist/mitre-entropy.kdl"
}

analyze {
    investigate policy="(gt 0.5 $)"

    category "practices" weight=1 {
        analysis "mitre/activity" policy="(lte $ 71)" weight=1
        analysis "mitre/binary" policy="(eq 0 (count $))" weight=1
        analysis "mitre/fuzz" policy="(eq #t $)" weight=1
        analysis "mitre/identity" policy="(lte $ 0.2)" weight=1
        analysis "mitre/review" policy="(lte $ 0.05)" weight=1
    }

    category "attacks" weight=1 {
        analysis "mitre/typo" policy="(eq 0 (count $))" weight=1 {
            typo-file "./config/Typos.toml"
        }

        category "commit" weight=1 {
            analysis "mitre/affiliation" policy="(eq 0 (count $))" weight=1 {
                orgs-file "./config/Orgs.toml"
            }

            analysis "mitre/churn" policy="(lte (divz (count (filter (gt 3) $)) (count $)) 0.02)" weight=1
            analysis "mitre/entropy" policy="(lte (divz (count (filter (gt 10) $)) (count $)) 0)" weight=1
        }
    }
}
