plugins {
    plugin "mitre/activity" version="^0.4" manifest="https://hipcheck.mitre.org/dl/plugin/mitre/activity.kdl"
    plugin "mitre/binary" version="^0.3" manifest="https://hipcheck.mitre.org/dl/plugin/mitre/binary.kdl"
    plugin "mitre/fuzz" version="^0.2" manifest="https://hipcheck.mitre.org/dl/plugin/mitre/fuzz.kdl"
    plugin "mitre/identity" version="^0.4" manifest="https://hipcheck.mitre.org/dl/plugin/mitre/identity.kdl"
    plugin "mitre/review" version="^0.3" manifest="https://hipcheck.mitre.org/dl/plugin/mitre/review.kdl"
    plugin "mitre/typo" version="^0.3" manifest="https://hipcheck.mitre.org/dl/plugin/mitre/typo.kdl"
    plugin "mitre/affiliation" version="^0.4" manifest="https://hipcheck.mitre.org/dl/plugin/mitre/affiliation.kdl"
    plugin "mitre/churn" version="^0.4" manifest="https://hipcheck.mitre.org/dl/plugin/mitre/churn.kdl"
    plugin "mitre/entropy" version="^0.4" manifest="https://hipcheck.mitre.org/dl/plugin/mitre/entropy.kdl"
}
patch {
	plugin "mitre/github" {
		api-token-var "HC_GITHUB_TOKEN"
	}
	plugin "mitre/linguist" {
        langs-file "./config/Langs.kdl"
    }
}
analyze {
    investigate policy="(gt 0.5 $)"

    category "practices" weight=1 {
        analysis "mitre/activity" policy="(lte $ P71w)" weight=1
        analysis "mitre/binary" policy="(lte $ 0)" weight=1 {
			binary-file "./config/Binary.kdl"
		}
        analysis "mitre/fuzz" policy="(eq #t $)" weight=1
        analysis "mitre/identity" policy="(lte (divz (count (filter (eq #t) $)) (count $)) 0.2)" weight=1
        analysis "mitre/review" policy="(lte (divz (count (filter (eq #f) $)) (count $)) 0.05)" weight=1
    }

    category "attacks" weight=1 {
        analysis "mitre/typo" policy="(lte (count (filter (eq #t) $)) 0)" weight=1 {
            typo-file "./config/Typos.kdl"
        }

        category "commit" weight=1 {
            analysis "mitre/affiliation" policy="(lte (count (filter (eq #t) $)) 0)" weight=1 {
                orgs-file "./config/Orgs.kdl"
            }

            analysis "mitre/churn" policy="(lte (divz (count (filter (gt 3) $)) (count $)) 0.02)" weight=1
            analysis "mitre/entropy" policy="(lte (divz (count (filter (gt 10) $)) (count $)) 0)" weight=1
        }
    }
}
