[package]
name = "hipcheck-sdk"
license = "Apache-2.0"
version = "0.1.0"
edition = "2021"

[dependencies]
thiserror = "1.0.64"
futures = "0.3.31"
indexmap = "2.6.0"
prost = "0.13.3"
rand = "0.8.5"
serde = { version = "1.0.210", features = ["derive"] }
serde_json = "1.0.128"
tokio = { version = "1.39.2", features = ["rt"] }
tokio-stream = "0.1.15"
tonic = "0.12.3"
schemars = { version = "0.8.21", features = ["url"] }
hipcheck-sdk-macros = { path = "../../hipcheck-sdk-macros", version = "0.1.0", optional = true }
typify-macro = "0.2.0"
url = { version = "2.5.2", features = ["serde"] }


[build-dependencies]
anyhow = "1.0.86"
tonic-build = "0.12.3"

[features]
macros = ["dep:hipcheck-sdk-macros"]
mock_engine = []
