{% extends "bases/base.tera.html" %}

{% block title %}
    {% if section.title %}
        {{ section.title }}
    {% else %}
        Hipcheck
    {% endif %}
{% endblock %}

{% block body_classes %}
{% endblock %}

{# Turn off breadcrumbs for the index page. #}
{% block breadcrumbs %}{% endblock %}


{% block lede %}

<div class="py-32 bg-gradient-to-b from-white to-slate-50 from-85%">
    <h2 class="pb-16 text-7xl font-semibold text-black text-center">
        Identify
        <span class="inline-block relative [z-index:10] font-black after:absolute after:content-[''] after:[z-index:-1] after:w-full after:-bottom-3 after:left-0 after:right-0 after:h-4 after:rounded-full after:bg-red-500 after:bg-gradient-to-r after:from-red-500 after:via-orange-500 after:to-yellow-500">risky dependencies</span>
    </h2>

    <p class="mb-8 text-4xl leading-tight w-1/2 text-center mx-auto">500 dependencies<a href="#" class="align-super text-base text-red-600">*</a> are too much to manually review.</p>
    <p class="mb-24 text-4xl leading-tight w-1/2 text-center mx-auto"><span class="font-black">Hipcheck</span> automates what you&rsquo;d check by hand, filtering dependencies you should <span class="pt-[1px] pb-[3px] px-2 rounded-lg bg-yellow-100 text-yellow-700">investigate</span> further.</p>

    <div class="w-2/3 mx-auto">
        <div class="grid grid-cols-2 gap-32">
            <div class="flex justify-center items-center border border-neutral-100 rounded-3xl shadow-sm bg-white">
                <div class="flex flex-col gap-12 items-center content-center">
                    <h3 class="font-semibold text-3xl">Try <span class="font-black">Hipcheck</span> Yourself</h3>

                    {% include "partials/install.tera.html" %}

                    <div class="flex gap-4">
                        <a href="{{ get_url(path="@/docs/_index.md") }}" class="
                                relative z-20
                                inline-block
                                !font-semibold
                                px-5 py-3
                                no-underline
                                bg-blue-500 hover:bg-green-500 dark:hover:bg-neutral-800
                                text-white hover:!text-white
                                rounded-full
                                ">
                            {{ ic::icon(name="book", classes="!w-5 !h-5 mt-[-2px] mr-1") }} Read the Docs
                        </a>

                        <a href="#" class="
                                relative z-20
                                inline-block
                                !font-semibold
                                px-5 py-3
                                no-underline
                                bg-blue-50 hover:bg-green-100 dark:hover:bg-neutral-800
                                text-blue-800 hover:!text-green-800
                                rounded-full
                                ">
                            {{ ic::icon(name="box", classes="!w-5 !h-5 mt-[-2px] mr-1") }} Explore Plugins
                        </a>
                    </div>

                    <div class="-mt-8">
                        <p class="text-sm text-slate-600"><a class="hover:text-blue-500" href="https://github.com/mitre/hipcheck"><span class="underline">Proudly open source, hosted on GitHub</span> {{ ic::icon(name="github", classes="-mt-[1px]") }}</a></p>
                    </div>
                </div>
            </div>

            <div class="bg-green-500 p-3 aspect-video rounded-3xl flex items-stretch">
                <div class="bg-green-50 rounded-2xl w-full flex items-center justify-center">
                    <div class="h-32 w-32 rounded-full bg-green-800 flex items-center justify-center">
                        <div class="ml-3 w-0 h-0 border-l-[3rem] border-t-[1.875rem] border-b-[1.875rem] border-transparent border-l-green-100"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-slate-50 min-h-[400px] py-32">
    <div class="w-2/3 mx-auto">
        <h2 class="text-6xl font-extrabold mb-8">
            Check <span class="inline-block relative [z-index:10] font-black after:absolute after:content-[''] after:[z-index:-1] after:w-full after:-bottom-3 after:left-0 after:right-0 after:h-4 after:rounded-full after:bg-red-500 after:bg-gradient-to-r after:from-red-500 after:via-orange-500 after:to-yellow-500">project practices</span>
        </h2>
        <p class="mb-16 text-3xl mt-8 font-normal">See how a dependency is developed to understand future risk.</p>

        <div class="grid grid-cols-2 gap-16">
            <div class="columns-2 space-y-8 gap-8">
                {{ idx::check_block(title="Is the project actively maintained?", plugin="mitre/activity", policy="At least 1 commit in the last year.", data=["mitre/git"], outline=True) }}
                {{ idx::check_block(title="Does the project do code review?", plugin="mitre/review", policy="More than 85% of Pull Requests approved prior to merging.", data=["mitre/github"]) }}
                {{ idx::check_block(title="Does the project do fuzz testing?", plugin="mitre/fuzz", policy="Set up to fuzz with OSS-Fuzz.", data=["mitre/github"]) }}
                {{ idx::check_block(title="Do contributors merge their own changes?", plugin="mitre/identity", policy="More than 85% of commits merged by another person.", data=["mitre/git"]) }}
            </div>

            <div class="flex justify-center items-start">
                <img class="shadow-xl shadow-slate-300 rounded-2xl" src="/images/github-mitre-hipcheck.png" alt="Screenshot of the Hipcheck GitHub repository">
            </div>
        </div>

    </div>
</div>

<div class="bg-slate-100 bg-gradient-to-b from-slate-50 via-slate-100 to-slate-50 min-h-[400px] py-32">
    <div class="w-2/3 mx-auto">
        <h2 class="text-6xl font-extrabold mb-8">
            Check <span class="inline-block relative [z-index:10] font-black after:absolute after:content-[''] after:[z-index:-1] after:w-full after:-bottom-3 after:left-0 after:right-0 after:h-4 after:rounded-full after:bg-red-500 after:bg-gradient-to-r after:from-red-500 after:via-orange-500 after:to-yellow-500">possible attacks</span>
        </h2>
        <p class="mb-16 text-3xl mt-8 font-normal">Identify possible attacks that may be reasons not to use a dependency.</p>

        <div class="grid grid-cols-2 gap-16">
            <div class="columns-2 space-y-8 gap-8">
                {{ idx::check_block(title="Are there binaries checked into the source repository?", plugin="mitre/binary", policy="No binaries in the source repository.", data=["mitre/git"]) }}
                {{ idx::check_block(title="Are there unusually large commits in the history?", plugin="mitre/churn", policy="No unusually-large commits in the history.", data=["mitre/git"]) }}
                {{ idx::check_block(title="Are there unusual-looking commits in the history?", plugin="mitre/entropy", policy="No unusual-looking commits in the history.", data=["mitre/git"]) }}
                {{ idx::check_block(title="Are there dependencies that may be typosquatted?", plugin="mitre/typo", policy="No potentially-typosquatted dependencies.", data=["mitre/npm"]) }}
            </div>

            <div class="flex justify-center items-start">
                <img class="shadow-xl shadow-slate-300 rounded-2xl" src="/images/github-mitre-hipcheck.png" alt="Screenshot of the Hipcheck GitHub repository">
            </div>
        </div>
    </div>
</div>

<div class="bg-slate-50 bg-gradient-to-b from-slate-50 to-white min-h-[400px] py-32 text-slate-800">
    <div class="w-2/3 mx-auto">
        <h2 class="text-6xl font-extrabold mb-16 text-center">
            Check <span class="inline-block relative [z-index:10] font-black after:absolute after:content-[''] after:[z-index:-1] after:w-full after:-bottom-3 after:left-0 after:right-0 after:h-4 after:rounded-full after:bg-white after:bg-gradient-to-r after:from-green-400 after:via-emerald-400 after:to-teal-400">what matters to you!</span>
        </h2>
        <p class="text-4xl leading-tight w-3/5 text-center mx-auto">All <span class="font-black">Hipcheck</span> analyses are powered by plugins.</p>
        <p class="mb-24 text-4xl leading-tight w-3/5 text-center mx-auto">Configure and replace plugins to your heart&rsquo;s content!</p>

        <div class="grid grid-cols-3 gap-16">
            <div class="rounded-2xl bg-white shadow-md shadow-slate-300 p-8">
                <div class="text-center">
                    {{ ic::icon(name="sliders", classes="!w-8 !h-8 mb-4 !fill-blue-500") }}
                </div>
                <h3 class="text-2xl font-semibold text-center mb-4">Configure the plugins you have</h3>
                <p class="text-lg leading-tight text-center font-light px-4">Change thresholds, modify scoring, and replace policy expressions for full control over what&rsquo;s &ldquo;good enough.&rdquo;</p>

                <div class="text-center mt-6">
                    <a href="{{ get_url(path="@/docs/_index.md") }}" class="
                            relative z-20
                            inline-block
                            !font-semibold
                            px-5 py-3
                            no-underline
                            bg-blue-500 hover:bg-green-500 dark:hover:bg-neutral-800
                            text-white hover:!text-white
                            rounded-full
                            ">
                        {{ ic::icon(name="file-text", classes="!w-5 !h-5 mt-[-2px] mr-1") }} Learn about Policy Files
                    </a>
                </div>
            </div>

            <div class="rounded-2xl bg-white shadow-md shadow-slate-300 p-8">
                <div class="text-center">
                    {{ ic::icon(name="box", classes="!w-8 !h-8 mb-4 !fill-blue-500") }}
                </div>
                <h3 class="text-2xl font-semibold text-center mb-4">Use the plugins you want</h3>
                <p class="text-lg leading-tight text-center font-light px-4">Add or replace plugins with just minor edits to your policy file. Run only the analyses that matter to you!</p>

                <div class="text-center mt-6">
                    <a href="{{ get_url(path="@/docs/_index.md") }}" class="
                            relative z-20
                            inline-block
                            !font-semibold
                            px-5 py-3
                            no-underline
                            bg-blue-500 hover:bg-green-500 dark:hover:bg-neutral-800
                            text-white hover:!text-white
                            rounded-full
                            ">
                        {{ ic::icon(name="box", classes="!w-5 !h-5 mt-[-2px] mr-1") }} Explore Plugins
                    </a>
                </div>
            </div>

            <div class="rounded-2xl bg-white shadow-md shadow-slate-300 p-8">
                <div class="text-center">
                    {{ ic::icon(name="settings", classes="!w-8 !h-8 mb-4 !fill-blue-500") }}
                </div>
                <h3 class="text-2xl font-semibold text-center mb-4">Build your own plugins</h3>
                <p class="text-lg leading-tight text-center font-light px-4">Write and distribute plugins in any language. We have plugin SDKs in Rust and Python, and the plugin protocol is fully-documented!</p>

                <div class="text-center mt-6">
                    <a href="{{ get_url(path="@/docs/_index.md") }}" class="
                            relative z-20
                            inline-block
                            !font-semibold
                            px-5 py-3
                            no-underline
                            bg-blue-500 hover:bg-green-500 dark:hover:bg-neutral-800
                            text-white hover:!text-white
                            rounded-full
                            ">
                        {{ ic::icon(name="tool", classes="!w-5 !h-5 mt-[-2px] mr-1") }} Learn how to Build Plugins
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="w-2/3 mx-auto mt-64 rounded-[12.5rem] bg-blue-500 bg-gradient-to-br from-blue-500 to-violet-500 p-48 shadow-2xl">
        <h2 class="mb-16 text-center text-6xl font-bold text-white">For Hipcheck, <span class="inline-block relative [z-index:10] font-black after:absolute after:content-[''] after:[z-index:-1] after:w-full after:-bottom-3 after:left-0 after:right-0 after:h-4 after:rounded-full after:bg-green-100 after:bg-gradient-to-r after:from-green-100 after:via-cyan-100 after:to-violet-100">values matter</span></h2>

        <div class="text-center text-white text-3xl [&_p]:mb-4 drop-shadow-md w-2/3 mx-auto *:!mb-8">
            <p>We want to help open source maintainers and users understand
                the dependencies they&rsquo;re using.</p>
            <p>Hipcheck recommends &ldquo;pass&rdquo; or &ldquo;investigate&rdquo;
                because people, not automated tools, should decide what to use.</p>
            <p>We&rsquo;re open source ourselves, and care about being transparent,
                welcoming, and safe for everyone.</p>
        </div>

        <div class="text-center mt-16">
            <a href="{{ get_url(path="@/docs/_index.md") }}" class="
                    text-2xl
                    relative z-20
                    top-0
                    inline-block
                    font-medium
                    px-6 py-4
                    no-underline
                    bg-white/95 hover:bg-white
                    text-blue-500
                    rounded-full
                    hover:shadow-md hover:shadow-blue-800
                    hover:-top-1
                    transition-all ease-in-out
                    ">
                {{ ic::icon(name="heart", classes="!w-6 !h-6 -mt-1 mr-2") }} Read Our Values
            </a>
        </div>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block extra %}
{% endblock %}
