{% extends "bases/docs.tera.html" %}

{% block title %}
    {% if section.title %}
        {{ section.title }}
    {% else %}
        Hipcheck
    {% endif %}
{% endblock %}

{% block content %}
    {{ section.content | safe }}

    <table>
        <thead class="bg-neutral-100 dark:bg-neutral-800 font-medium">
            <tr>
                <td class="px-2">#</td>
                <td class="px-2">Name</td>
                <td class="px-2">Status</td>
                <td class="px-2">Primary Author</td>
                <td class="px-2">Submission</td>
            </tr>
        </thead>
        <tbody>
            {% for page in section.pages %}
                <tr class="even:bg-neutral-50 dark:even:bg-neutral-800">
                    <td class="px-2">{{ page.extra.rfd | default(value="???") }}</td>
                    <td><a href="{{ page.permalink }}">{{ page.title }}</a></td>
                    <td>{{ page.extra.status | default(value="Unknown") }}</td>
                    <td>
                        {% if page.extra.primary_author_link %}
                            <a href="{{ page.extra.primary_author_link }}">
                        {% endif %}
                            {{ page.extra.primary_author | default(value="Unknown") }}
                        {% if page.extra.primary_author_link %}
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if page.extra.pr %}
                            <a href="https://github.com/mitre/hipcheck/pull/{{ page.extra.pr }}">PR #{{ page.extra.pr }}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block sidebar %}
    {{ toc::toc(content=section.toc, is_doc=true) }}
{% endblock %}
