name: Docker Hub

on:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      version:
        description: "Version"
        required: true

jobs:
  push:
    name: Build and Push Image
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Setup Qemu
        uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3.6.0

      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Extract Hipcheck version
        uses: frabert/replace-string-action@9c9aeb483eab07adb9d0be75b5212cc0bcef0d4b # v2.5.1
        id: format-tag
        with:
          pattern: "hipcheck-v"
          string: "${{ github.event.release.tag_name || github.event.inputs.version }}"
          replace-with: ""
          flags: "g"

      - name: Login to DockerHub
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@1dc73863535b631f98b2378be8619f83b136f4a0 # v6.17.0
        with:
          context: .
          file: dist/Containerfile
          push: true
          platforms: "linux/amd64,linux/arm64"
          tags: mitre/hipcheck:latest,mitre/hipcheck:${{ steps.format-tag.outputs.replaced }}

  description:
    name: Set Description
    runs-on: ubuntu-latest
    needs: push
    steps:
      - name: Check out the repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Verify Dockerhub description size
        run: ./dist/dockerhub/check-description-size.sh

      - name: Update Dockerhub description
        if: success()
        uses: peter-evans/dockerhub-description@432a30c9e07499fd01da9f8a49f0faf9e0ca5b77 # v4.0.2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_DESC_TOKEN }}
          repository: mitre/hipcheck
          short-description: ${{ github.event.repository.description }}
          readme-filepath: ./dist/dockerhub/README.md
          enable-url-completion: true
